[2017-09-03 08:09] harsha-simhadri opened #1 "spaces in run Bonsai script"
Would it be possible to remove the spaces at the end of each option. ProtoNN script has removed it.

[2017-09-03 10:07] harsha-simhadri opened #2 "Model dump to be removed from altMinSGD"
We should remove logging code in altMinSGD and perhaps pass a callback.

same goes for train()

[2017-09-03 16:04] harsha-simhadri opened #3 "Separate training and batch prediction in ProtoNN"

[2017-09-03 16:06] harsha-simhadri opened #4 "Test dense train/test data representation"

[2017-09-03 16:13] harsha-simhadri opened #5 "make Ingest Test files work and document them"

[2017-09-03 18:10] adityakusupati opened #6 "Stable Sparse training of Bonsai Params"
Need to support Training routine on all sparse params for efficiency in XML dataset.

- Low priority

[2017-09-03 19:18] harsha-simhadri opened #7 "CMake and other OS support"

[2017-09-04 12:02] harsha-simhadri opened #9 "Add gradient descent for ProtoNN"

[2017-09-04 12:55] adityakusupati opened #10 "Support for Zero Depth Trees in Bonsai"
-D 0 currently throws a lot of MKl warnings. Need to fix it.

[2017-09-04 13:53] #10 closed

[2017-09-15 08:46] jong1prk opened #16 "EdgeML on Raspberry Pi 3"
I have tried to run Bonsai and ProtoNN on Raspberry Pi 3.

But, there was a problem with MKL installation.

MKL only runs on the Intel processor not ARM processor.

You guys mentioned that you've tested on Arduino Uno,

but I wonder how that is possible.

[2017-09-15 09:08] harsha-simhadri commented on #16
@jong1prk,

This code was written for training the model. We do it on our laptop/workstation, which has Intel processors (hence MKL library). The idea is that you take the model and make predictions on Raspberry.

If you'd like to use this training code on Raspberry Pi, we suggest you try another implementation of BLAS routines that works on Raspberry Pi. I imagaine it will required minor code cha

[2017-09-15 09:10] sureshiyengar opened #17 "Refactoring out serialization code"
Move the serialization code out of Bonsai model. One option is to have a serialization base class and different strategies for custom export which takes in a Bonsai model.

[2017-09-16 12:53] adityakusupati commented on #17
Hi @sureshiyenger,

Can you be more specific regarding the features you are talking about? Can you point me to the file and line number of the same?

Aditya

[2017-09-26 05:04] sureshiyengar commented on #17
Check void BonsaiModel::exportModel

Ideally, all the serialization logic can go into a separate class. The model class does not change if a new serialization format needs to be added.

[2017-09-26 05:15] sureshiyengar opened #19 "Fix warnings"
mmaped.cpp(247): warning C4244: 'argument': conversion from 'LABEL_TYPE' to 'Eigen::EigenBase<Derived>::Index', possible loss of data
mmaped.cpp(258): warning C4018: '<': signed/unsigned mismatch
mmaped.cpp(267): warning C4018: '>=': signed/unsigned mismatch
mmaped.cpp(350): warning C4244: '=': conversion from 'LABEL_TYPE' to 'featureCount_t', possible loss of data
mmaped.cpp(371): warning C4018:

[2017-09-26 06:06] sureshiyengar opened #20 "Remove hardcodings"
Remove hardcodings of file paths

std::ifstream ifs("/home/t-vekusu/ICMLDatasets/multiclass/mnist/train");

#pragma comment(lib, "../../../../Libraries/MKL/Win/Microsoft.MachineLearning.MklImports.lib")

[2017-09-27 07:06] adityakusupati commented on #20
Removed std::ifstream ifs("/home/t-vekusu/ICMLDatasets/multiclass/mnist/train");

[2017-09-27 07:07] adityakusupati commented on #19
Regarding BonsaiFunctions.cpp(838): warning C4996: 'localtime': This function or variable may be unsafe. Consider using localtime_s instead. To disable deprecation, use _CRT_SECURE_NO_WARNINGS. See online help for details.

Windows doesn't have an inbuilt thread-safe implementation and counterpart for localtime and we are using localtime to generate directory structure.

[2017-09-27 07:08] adityakusupati commented on #17
Seems like a good idea. Will look into it.

[2017-09-27 08:21] sureshiyengar commented on #17
One thought I had was having a SerializationBase which defines the interface. The function takes in the BonsaiModel as output and serializes it into different format, more like a strategy pattern.

[2017-10-10 09:52] harsha-simhadri opened #23 "ProtoNN add exitWithHelp functionality, similar to BonsaiFunctions.cpp:exitWithHelp()"

[2017-10-11 17:09] suiyengar opened #24 "bat script"
Have an equivalent bat file similar to the sh file for running protonn/bonsai test.

[2017-10-17 13:56] tushargupta5197 opened #26 "Run ProtoNN"
I am trying to execute the ProtoNN algorithm on my ubuntu 16.04 machine. However, I am unable to interpret what inputs to provide to the code and in what format. Kindly provide a small instruction set on how to run ProtoNN for the training and testing data you specified in the readme.
Thanks

[2017-10-17 14:06] suvadeep-iitb commented on #26
Please refer to README.md to get instructions for building and executing
demo. And for detailed description of ProtoNN command line argument, please
refer to README_PROTONN_OSS.md under the doc/ folder.

Regards,
Suvadeep Hajra
PhD Student,
IIT Bombay, India

On Tue, Oct 17, 2017 at 7:26 PM, tushargupta5197 <notifications@github.com>
wrote:

[2017-11-30 07:27] srplsnh opened #29 "Bonsai for CIFAR10"
Hi,

Couple of questions on applying Bonsai on CIFAR10, referring to your paper @ http://harsha-simhadri.org/EdgeML/files/Bonsai.pdf

1. Table 1 refers to a dataset called CIFAR10-2. What does the -2 signify and is this dataset the same as
the one from https://www.cs.toronto.edu/~kriz/cifar.html ?
The reason I ask is because Table 1 lists the number of features as 400 whereas CIFAR10 features shou

[2017-11-30 09:53] adityakusupati commented on #29
Hi,

1) -2 implies that it is a binarised dataset of the CIFAR10. The datasets couldn't be released along with repo, sorry for the inconvenience. There was some pre-processing involved in getting feature dims to 400.
2) You would need the exact dataset we used for the params to reproduce the results, let me see what can be done.

[2017-11-30 10:20] srplsnh commented on #29
Thanks. On re-reading the paper I realized the title of the table does mention the naming convention you use. My bad, sorry.
Just to confirm my understanding, by binarizing a dataset, do you mean deriving a 2-class dataset from an otherwise multi-class dataset ?

[2017-11-30 11:05] adityakusupati commented on #29
Yes, the # of data points remain the same, the classes are clubbed to make it a 2 class problem.

[2017-11-30 14:01] srplsnh commented on #29
I see. Did you try classifying the original 10-class CIFAR dataset with Bonsai ?

[2017-12-01 12:01] adityakusupati commented on #29
I myself, haven't tested it on the original CIFAR10 dataset. Let me know if you tried it and are facing any issues.

[2017-12-01 13:10] srplsnh commented on #29
In fact, I did make 2 preliminary runs just to test the waters, by changing 2 hyperparams (rest are the same as USPS):

1. Tree depth:6, Projected dim: 28, Final Test Accuracy: 0.438
2. Tree depth: 8, Projected dim: 128, Final Test Accuracy: 0.3695

The only preprocessing done was to normalize the input features to zero mean/unit variance.

Any suggestions on tuning hyperparameters and/or alternat

[2017-12-03 16:13] adityakusupati commented on #29
Sorry for the delay.
The code inherently does Zero Mean - unit variance normalisation, you don't need to feed normalised data and by exploring we found that it is the best normalisation for bonsai.
The hyper-params were specific to USPS dataset, so I can't expect them to run for CIFAR-10. Bonsai struggles for image datasets, which can be seen in CIFAR-2 and CHARS datasets. Also, Bonsai is for reso

[2017-12-19 23:59] jacobrosenthal opened #31 "tracking macosx support"
Ive been sitting on the sidelines hoping someone would tackle osx support but it hasnt happened yet, so heres my start

[code]

Yeah were clang masquerading on macosx, need gcc5

```brew install gcc5```
I already have it
[code]

ah config.mk already uses with CC=g++-5

try to make

[code]

MKL doesnt appear to be in brew yet
was problematic on osx? maybe not now?
https://github.com/Homebrew/homebr

[2017-12-25 10:15] harsha-simhadri commented on #31
@jacobrosenthal
Sorry for the mess on mac. None of us have a macbook to replicate this; please bear with me while I find one to test.

[2017-12-26 08:44] #29 closed

[2017-12-26 13:29] adityakusupati commented on #24
@suiyengar closing this issue.

[2017-12-26 13:29] #24 closed

[2017-12-26 13:29] #16 closed

[2017-12-26 13:30] adityakusupati commented on #7
CMake is done. MacOS needs to be tested.

[2018-01-09 15:02] #26 closed

[2018-06-11 02:12] jacobrosenthal commented on #31
Im able to use on mac via docker with:
[code]
and then I make bash scripts for each command at /usr/local/bin/ that bring over working directory
[code]

[2018-06-25 10:02] metastableB opened #37 "Tensorflow Branch TODOs"

[2018-07-12 06:33] metastableB commented on #37
@adityakusupati  Please let me know if there are more things.

[2018-07-12 06:37] #37 closed

[2018-07-17 22:51] jacobrosenthal opened #44 "tensorflow data files"
A bunch of directions call for loading from a test or train.npy file. The text seems to be a list of label featurenum:float ...  and doing np.load on the .txt doesnt work as I get `UnpicklingError ` Any help?

Also what/where is CURET data?

[2018-07-18 08:08] metastableB commented on #44
@jacobrosenthal  Apologies for the confusion. We were initially using `.npy` files as our default input format. Currently we have decided to move to `.text` - this confusion could be a result of this?

Can you let me know where exactly you are facing this error:
Specifically can you let me know the branch/commit information and the command you are using to run.

@adityakusupati  Can you help with

[2018-07-18 08:17] metastableB commented on #44
@adityakusupati  `master` might still have remnants of the old _README.md_ with instructions for `npy` file. Can you update this? I'll rebase with your changes once you are done.

[2018-07-18 09:12] adityakusupati commented on #44
@jacobrosenthal , I think I understand your issue. First of all tf codes use .npy files as input and not .txt, this is done for consistency reasons. So the txt files being used for C++ codebase has to be formatted to .npy file. If it is a tsv or csv then you can convert .txt to .npy using np.loadtxt followed by np.save.

Now, the txt files for usps10 used for C++ code are in libsvm format and need

[2018-07-27 19:06] adityakusupati commented on #44
@jacobrosenthal , if things are working we would like close this issue. Let us know.,

[2018-07-27 19:06] #44 closed

[2018-08-18 16:09] elfring opened #48 "Remove an unnecessary null pointer check"
[An extra null pointer check is not needed](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") in [the destructor for the class “ProtoNNPredictor”](https://github.com/Microsoft/EdgeML/blob/8c18182c1f0e5f3e594fb4cd88b0716c325a32d4/src/ProtoNN/ProtoNNPredictor.cpp#L262 "Update candidate: Destructor for ProtoNNPredictor").

[2018-08-20 07:56] metastableB opened #49 "Feature extractor script for HAR is buggy."
The the data produced at the end does not match the data used in publication in terms of the number of data points at least.

[2018-08-20 12:39] chogba commented on #49
[#47](https://github.com/Microsoft/EdgeML/pull/47) resolves this. The number of test data points is consistent. To get consistent number of points in val and train sets, set seed to 42 before shuffling subjects in `generateIndicesForSplits` in helpermethods.py

[2018-08-20 12:41] chogba commented on #49
[#47](https://github.com/Microsoft/EdgeML/pull/47) resolves this. The number of test data points is consistent. To get consistent number of points in val and train sets, set seed to 42 before shuffling subjects in `generateIndicesForSplits()` in helpermethods.py

[2018-08-20 18:27] #49 closed

[2018-08-21 05:12] adityakusupati opened #50 "Issue in Running EMI-RNN notebooks with fetched HAR dataset"
@metastableB and @chogba, the Notebook doesn't run out of the box, there is dimensionality mismatch in the dataset and the core utility. Please fix it.

[2018-08-21 08:37] metastableB commented on #50
Can you test now? This should be fixed with #43 commit commit 7770e05. Can you test and close ?

[2018-08-23 08:37] metastableB commented on #50
Fixed in #43.

[2018-08-23 08:37] #50 closed

[2018-08-29 00:58] jacobrosenthal opened #53 "EMI-RNN notebooks error with "Cannot take the length of Shape with unknown rank.""
[code]

[2018-08-29 04:49] metastableB commented on #53
Hi @jacobrosenthal,  could you please,

1. Provide your tensorflow and python versions
2. Provide a minimal working example

The notebooks we have pushed have been tested on python3 and Tensorflow 1.6+. I'm unsure where this bug is originating. `y_predicted` used in `emiTrainer.py:78` - the line causing the `ValueError`, should have a clearly defined rank of 4. The bug is being propagated from som

[2018-08-29 17:39] jacobrosenthal commented on #53
1. Im using jupyter/tensorflow-notebook:latest docker image which would appear to be 8ccdfc1da8d5 which appears to have Python 3.6.3 and tensorflow (1.5.1)
2. Yeah not my code the notebook examples
3. Same error on all 3 EMI RNN notebooks.

[code]

[2018-08-30 06:15] adityakusupati commented on #53
@jacobrosenthal , we were able to recreate the bug. It is solely due to your tensorflow version being not compatible. TF made some major change during the transition from tf 1.5 to tf 1.6. Our code bases are currently supporting only >= tf 1.6.0. So please upgrade your tensorflow version and let us know if the problem persists. I was able to recreate the same error and was able to fix it by just c

[2018-08-30 06:15] #53 closed

[2018-08-30 15:03] jacobrosenthal commented on #53
Thank you for confirming.

On Wed, Aug 29, 2018 at 11:15 PM Aditya Kusupati <notifications@github.com>
wrote:

[2018-09-13 17:20] Jaystings opened #55 "Error in run_ProtoNNPredict_usps10.sh"
There is a simple issue in the script that runs ProtoNNPredict on the example data set. I have highlighted the issue in the image I provided: the number of iterations is supposed to be 20 and not 2. Please fix this in one of the next commits so that it will run immediately after cloning the project and building it.
![edgemlbug](https://user-images.githubusercontent.com/4793654/45504383-b74b4000-b7

[2018-09-14 18:47] Jaystings opened #56 "Confusion about Parsing Protocol"
Hello, I am working on cross compiling ProtoNNPredict for a Mips device. It is the Onion Omega 2+ - an MT7688 device. It hangs when the model file, "test.txt," is memory mapped and is being read and interpreted. It has been hard to debug this issue without knowing exactly how the parser works. Can you explain it to me based on the problem variables index_value and labelValue?

[2018-09-25 21:41] JohnSDevs opened #57 "Documentation about your tests"
Hello. I plan to try this paper on on a microcontroller and I wonder if you have documentation about loading the model/predict code on a ATmega328P.
I have everything compiled and working on a PC and while I saw the pull request for Arduino, I would like to do this without their IDE

[2018-10-01 09:19] #57 closed

[2018-10-05 20:37] dhruboroy29 opened #59 "EMI-RNN paper link doesn't work"
The link to the EMI-RNN paper is invalid. Thanks.

[2018-10-06 16:45] adityakusupati commented on #59
@metastableB please do the needful.

[2018-10-08 09:13] metastableB commented on #59
@dhruboroy29 Sorry about the broken link. I'll put up the pre-print right away. Thanks.

[2018-10-08 09:13] #59 closed

[2018-10-14 17:54] #7 closed

[2018-10-14 17:55] #31 closed

[2018-10-14 18:07] harsha-simhadri commented on #55
@Jaystings Thanks for pointing this out. Fixed it

[2018-10-14 18:07] #55 closed

[2018-10-17 14:13] euler16 commented on #20
Hi, is this issue still open? if yes then can I take this up?

[2018-10-31 21:53] JobLeonard opened #68 "Question: have you looked at posits (a.k.a. unum type 3)"
So, this is just a general curiosity question from someone who at best may fool with this library on his Arduino's at some point.

I found this repo through [this article on Bonsai](https://www.cnx-software.com/2018/10/31/bonsai-algorithm-machine-learning-arduino-2kb-ram/), which linked to [the paper](http://manikvarma.org/pubs/kumar17.pdf).

The part where it mentioned that 8-bit fixed point math

[2018-11-07 01:49] skylin008 opened #69 "arduino"

[2018-11-07 01:51] #69 closed

[2018-11-07 01:55] skylin008 opened #70 "How to porting the the algorithm to run at Arduino or Microbit"
Hello, Development Team! Thank you shared the algorithm ,but  how to porting the algorithm to run at arduino or microbit board! Thanks!

[2018-11-10 17:57] adityakusupati commented on #68
@JobLeonard , thanks for your interest and sorry for the delayed reply. You are partially correct about the 8-bit fixed point math. In the case of normal CPUs and GPUs where FPUs are a norm, having any lower precision operation and trying to gain advantage in compute (throughput) is almost impossible. However, in the case of edge devices like Arduino Uno or ARM Cortex M0+ processor there is no ded

[2018-11-10 18:02] adityakusupati commented on #70
@skylin008 , thanks for your interest. The porting is very straight forward and all it takes is to write inference code in C and burn it onto device. In general we write hand written codes, but currently there is a compiler in works which will take in the model and spit out optimized devices prediction code with quantized weights. Simply put, just write a .ino file with your "C" code of inference

[2018-11-10 18:02] #70 closed

[2018-11-10 18:03] #20 closed

[2018-11-10 18:05] #48 closed

[2018-11-10 19:00] elfring commented on #48
@adityakusupati: I would appreciate a more constructive feedback for this issue.

[2018-11-13 11:36] skylin008 commented on #70
Thanks kindly!

[2018-11-14 12:58] JobLeonard commented on #68
Yep, it clarifies things a lot, thank you! :)

Hope the posits will bring something interesting to the table, although from the sound of it their overhead might be too great already for your purposes.

[2018-11-15 10:51] #68 closed

[2018-11-15 11:17] JobLeonard commented on #68
And just as you close this, Facebook announced their posit-inspired format:

https://code.fb.com/ai-research/floating-point-math/

Anyway, thanks again for the answer, and keep up the inspiring research! :)

[2018-12-21 07:06] DengXueCheng opened #71 "Could not open 'C:/Users/123/AppData/Local/Microsoft/Windows/UPPS/UPPS.bin' when open the EdgeML.sln"

[2018-12-22 21:09] adityakusupati commented on #71
I think it needs to be USPS, not UPPS. Please check and let us know.

[2018-12-24 07:59] DengXueCheng commented on #71
Thank you for your answer. It's really a problem about a file called UPPS. bin. However, this problem has no effect on the normal operation of the program.Now I have trained the model. But ,how can I reduce the size of this model and deploy it into my own embedded system?

[2018-12-24 20:34] adityakusupati commented on #71
If you are using either Bonsai (https://github.com/Microsoft/EdgeML/blob/master/cpp/docs/README_BONSAI_OSS.md) or ProtoNN (https://github.com/Microsoft/EdgeML/blob/master/cpp/docs/README_PROTONN_OSS.ipynb) you can follow their readmes to play with the hyperparameters like sparsity, projection dimension to reduce the model size and then deploy it. Let me know any specific question you might have in

[2018-12-25 08:30] DengXueCheng commented on #71
After training usps10, loadableModel：64kb, loadableMeanVar:3kb.
 I want to run them on ARM and make predictions. But at present, according to the code you provide, I can only run them on the computer.
I don't even know the models' encoding format. How can I put them into my embedded devices for prediction? And how to get to BonsaiOpt model?
If the model can be simplified into several matrices, I i

[2018-12-25 16:57] adityakusupati commented on #71
Go ahead and open the model files and see the formatting, there are both binary and readable model files. You can use readable model files to extract the model for your deployment as you said. Go into the model folder and you will find the appropriate matrices in Params directory. https://github.com/Microsoft/EdgeML/blob/master/cpp/docs/README_BONSAI_OSS.md has everything written in the Output sec

[2018-12-26 11:03] adityakusupati commented on #71
If you do the math, you would see appending 1 at the end of the feature vector is the same as having a bias term for entire Bonsai classifier. It is just another way of adding bias and the 257th element is always 1 if you notice.

[2019-01-11 19:57] ifed-ucsd opened #72 "Will you release the code to reproduce the keyword spotting results in your FastGRNN paper?"

[2019-01-11 21:40] adityakusupati commented on #72
Hi @ifed-ucsd ,

The training code along with the quantization is public and is already in the repo at: https://github.com/Microsoft/EdgeML/tree/master/tf/examples/FastCells. I am not sure what is that you want to be public. If you are talking about the Wakeword-2 dataset, unfortunately, it is proprietary. But one can use Google Keyword dataset as a substitute.  The FastGRNN paper describes the fe

[2019-01-11 21:45] #56 closed

[2019-01-11 21:46] #3 closed

[2019-01-25 19:36] #72 closed

[2019-02-07 21:36] onclue opened #74 "Application to Extreme Multi-label Classification?"
Hi,

Thank you for this great work. I am curious about how to apply EdgeML to extreme multi-label classification problems. Your documentation for ProtoNN Wiki and paper suggests that it is a good fit but it is not clear how to get started with that. In the C++ code, what should the data format be for multi-label problems? In the tensorflow versions, how should the model be updated to apply it to m

[2019-02-09 18:04] adityakusupati commented on #74
Hi,

Thanks for the interest. @AIgen  can comment on the C++ ProtoNN for Extreme Classification.
Coming to tensorflow, I think it is as simple as changing the final loss from multi-class to a multi-label loss and train it normally as done right now. You can use all the 3 (ProtoNN, Bonsai and FastGRNN) for extreme classification, but only ProtoNN has been well tested. FastGRNN runs on raw-text and

[2019-02-26 05:33] #74 closed

[2019-02-28 21:33] ifed-ucsd opened #75 "Can you shed some light on your ICML paper experiments with CUReT and Chars datasets?"
Looking at your paper "Resource-efficient Machine Learning in 2 KB RAM for the Internet of Things," it isn't clear to me how you set up the experiments for CUReT and Chars.

For example, for CUReT, Table 1 lists the total number of images as 4204 + 1403 = 5607, but if one downloads the dataset from http://www.robots.ox.ac.uk/~vgg/research/texclass/, the number of images is 5612.

The setup for the

[2019-03-04 16:33] adityakusupati commented on #75
@ifed-ucsd, it would be great if you could write to the first author, Ashish Kumar (https://ashishkumar1993.github.io/), of Bonsai paper directly as he created the datasets' splits along with features. There might be some filtering that could have been done during featurization.

[2019-03-12 19:28] ifed-ucsd commented on #29
Can you comment on which classes where grouped to form the binary datasets?

[2019-03-15 17:43] adityakusupati commented on #29
Hi,

I was trying to find the class grouping information, but it looks like the datasets the paper used were from an earlier paper called LDKL (http://manikvarma.org/pubs/jose13.pdf). I will try to get back to you either way. In general, you could always binarize the datasets anyway you wish and retrain the models. It would be great if you could write to me directly so that I can give you limited

[2019-03-15 21:20] adityakusupati commented on #75
@ifed-ucsd, as mentioned in the other issue thread, it would be great if you could write to me personally (t-vekusu@microsoft.com) and I could provide you with the exact datasets for download.

[2019-03-15 21:20] #75 closed

[2019-03-21 16:41] ShilpaSangappa opened #79 "Error in EdgeML/tf/examples/FastCells/helpermethods.py"
Method saveMeanStd(mean, std, currDir):
Line number 267, 268 is:
np.save(os.path.join(dataDir, 'mean.npy'), mean)
np.save(os.path.join(dataDir, 'std.npy'), std)

Error: variable dataDir is undefined.

I guess it has to be:
np.save(os.path.join(currDir, 'mean.npy'), mean)
np.save(os.path.join(currDir, 'std.npy'), std)

Shall I raise a PR?

[2019-03-22 03:32] adityakusupati commented on #79
Hi,

Thanks a lot for the heads up. I have fixed it now. Can you please confirm the same :)

[2019-03-22 03:32] #79 closed

[2019-03-22 03:41] ShilpaSangappa commented on #79
I have tested with the currDir variable yesterday. It worked.

On Fri, Mar 22, 2019 at 9:02 AM Aditya Kusupati <notifications@github.com>
wrote:

[2019-04-14 17:31] praneet195 opened #82 "FastTrainer : How to stack more FastCells"
Is there any way of providing more cells to the FastCellTrainer or does it only work with one cell?

[2019-04-22 09:45] adityakusupati commented on #82
Sorry for the later reply. You can replace any of the stacked LSTMCells or GRUCells with FastGRNN or FastRNN in your codes. Unless you want to induce sparsity, you wouldn't need to use the FastCell Trainer. Also, it is easy to induce sparsity even with stacked RNN cells in the same fashion as FastCellTrainer does it right now. Feel free to ask your queries here if there are any with examples so th

[2019-04-23 05:42] praneet195 commented on #82
Hi,
I'm unable to add these cells in a fashion similar to the say LSTMCells. For example considering the FastGRNN cell example where the cell has been defined, is there any way to return its output to another cell and hence stack them ?

[2019-04-23 05:47] adityakusupati commented on #82
Is this what you want - https://github.com/Microsoft/EdgeML/blob/master/tf/edgeml/trainer/fastTrainer.py#L73 ?

Also, if you have a specific code in use, you can share the snippet in gist and I can look at it and suggest you how to change it. I easily stack FastCells as easily as LSTM Cell.

[2019-04-23 05:48] #17 closed

[2019-04-23 05:48] #6 closed

[2019-04-23 05:48] #19 closed

[2019-04-23 06:33] praneet195 commented on #82
Yes thank you, this is exactly what I needed.. is there a code snippet that you can provide stacking multiple cells as I'm running into a dimensionality issue while trying to send the output of one cell to another

[2019-04-24 08:59] adityakusupati commented on #82
Hi Praneet,

I would rather encourage you to share your case, so that I can help you. According to me, using https://www.tensorflow.org/api_docs/python/tf/nn/rnn_cell/MultiRNNCell is very straight forward for FastGRNN if your code works for GRU.

[2019-04-25 10:33] praneet195 commented on #82
Alright, This is my case:
I've created this model in keras using RNN and the LSTMCell. The model is as follows:
# design network
                        cell1=tf.nn.rnn_cell.LSTMCell(64)
                        cell2=tf.nn.rnn_cell.LSTMCell(64)
                        cell3=tf.nn.rnn_cell.LSTMCell(64)
                        cell4=tf.nn.rnn_cell.LSTMCell(64)

                        model = Sequen

[2019-04-25 11:15] adityakusupati commented on #82
Hi Praneet,

It is evident from the logs that the scope is the issue. Try using this in the declaration and let me know if it fails. Also, do you expect all the cells to have different weights or do you expect them to be coupled?

cell1=FastRNNCell(64, name="FastGRNNCell1")
cell2=FastRNNCell(64, name="FastGRNNCell2")
cell3=FastRNNCell(64, name="FastGRNNCell3")
cell4=FastRNNCell(64, name="FastGRNNC

[2019-04-25 17:11] praneet195 commented on #82
Hi Aditya,
Firstly, thank you for the prompt replies. I'm getting the following error after trying your fix.
# error
ValueError: Variable FastGRNNCell1/FastRNNcell/W already exists, disallowed. Did you mean to set reuse=True or reuse=tf.AUTO_REUSE in VarScope?

Not sure why the scope issue is arising.
Also, I expect them to have different weights.

[2019-04-25 17:26] adityakusupati commented on #82
@praneet195 , I have tested your code of LSTMs and it should fail with the same error as you shared unless you have been using a different version of tf.
Let me know if your code with lstms works and if the above change I suggested helped you in running Fastgrnn in its place.

[2019-04-26 07:00] praneet195 commented on #82
Sure, I will drop a mail on your official id and let's take this offline.

[2019-05-28 17:33] adityakusupati opened #89 "Change main readme to reflect seedot and gesturepod"
@sridhargopinath  and @ShishirPatil please change the main readme accordingly.

[2019-05-29 14:08] ShishirPatil commented on #89
@adityakusupati  PR #90.

[2019-05-29 15:54] adityakusupati commented on #89
@sridhargopinath please upload the camera-ready publication of SeeDot.

[2019-05-30 17:29] FoxMarts opened #93 "SeeDot Example Error"
Hello, Development Team! I was trying the new SeeDot tool, following the example provided, but when I use the command:
python SeeDot.py -a protonn --train ../../tf/examples/ProtoNN/usps10/train.npy --test ../../tf/examples/ProtoNN/usps10/test.npy --model ../../tf/examples/ProtoNN/usps10/output -o arduino
give me a error.
I am using environment python 3.5
Packages: Antrl4  4.7.2, Numpy  1.16.2, Sci

[2019-05-31 06:24] sridhargopinath commented on #93
Hi,

Thanks for your interest in the tool.

I see that you are using Python 3.5. The tool uses a python dictionary feature that works on Python 3.6 and above. I can work on the fix to support python 3.5. In the meantime, can you test with Python 3.6?

Thanks,
Sridhar

[2019-05-31 07:57] FoxMarts commented on #93
Thanks for the quick response. I already experimented with python 3.6 and it worked.

[2019-05-31 07:57] #93 closed

[2019-06-06 16:37] FoxMarts opened #95 "How to predict using bonsai or protoNN in python"
Hello, I trained a model in Bonsai and a ProtoNN using the python codes presented in the examples. I would like to know if there is a way to only predict results in python with the trained model.

[2019-06-10 08:35] adityakusupati commented on #95
@FoxMarts, there are a couple of easy ways to do that. https://github.com/Microsoft/EdgeML/blob/master/tf/examples/Bonsai/bonsai_example.py#L80 -> this is the trained Bonsai Object and you could just write a simple prediction graph by calling it something like this: https://github.com/microsoft/EdgeML/blob/master/tf/edgeml/trainer/bonsaiTrainer.py#L58. This was written in order to facilitate only

[2019-06-17 10:29] adityakusupati commented on #89
I have added it.

[2019-06-17 10:29] #89 closed

[2019-06-21 14:56] FoxMarts commented on #95
Thanks for the quick and clear answer, I managed to work as a child. And sorry for the late reply.

[2019-06-21 14:56] #95 closed

[2019-07-08 17:14] FoxMarts opened #99 "SeeDot Question"
Hi, I'm using protonn with the seedot tool for my C program but I have some doubts regarding the tool.
1. in my program I am using 32bits variables so I changed in common.py to WordLength from 16 to 32 and in the datatypes.h in the predictor folder I changed to #define INT32. I just wanted to know if anything else needed to be changed.
2. The size of the exponential tables is constant for 16bits a

[2019-07-08 22:08] adityakusupati commented on #99
@sridhargopinath please take care of this issue.

[2019-07-15 17:49] adityakusupati opened #104 "Fixing pre-processing script for google speech datasets"
@metastableB , in the process_google.py file, I think the right way to create multiple versions of the datasets with different classes should be based on the classes listed in the labelmap rather than including everything and combining the not-required classes to 0. I think this should be chaged to support, say, simple things like google-30 where the classes are only the 30 keywords and no noise.

[2019-07-15 17:52] metastableB opened #105 "The example notebook for SRNN is corrupted in the pytorch branch."
Please have a look. Also, `argparse` support for the python example.

[2019-07-15 17:54] metastableB commented on #105
@SachinG007 Please have a look

[2019-07-16 15:58] sridhargopinath commented on #99
Hi @FoxMarts

Thanks for your interest in SeeDot. Please find my responses below.

1. There is one more place you need to change: in the Arduino sketch. In `seedot/arduino/config.h`, switch the #define for MYINT.

2. That is correct. But the size of the table (the variable T) is configurable. To change the variable, go to `seedot/util.py` and edit `expBigLength`. I have tested the tool for values

[2019-07-17 06:47] metastableB commented on #104
@adityakusupati you are taking care of this right?

[2019-07-17 17:23] #105 closed

[2019-07-19 09:21] adityakusupati commented on #104
@metastableB, I didn't get time yet. I will fix this today or otherwise, I think I will leave it as is.

[2019-07-19 09:21] #104 closed

[2019-07-19 10:03] jay765 opened #109 "Input Values in Arduino Sketch"
Hello!
I am using the SeeDot to generate the code for the Arduino and I have some questions regarding the Arduino Sketch.
1.) Where do the test values in array X stored in devices' flash memory come from?
2.) How do the input values need to be presented? I am using Bonsai to create the model, the training and test data in presented as integer values. When using the Arduino sketch, do the input val

[2019-07-20 08:52] metastableB commented on #109
@sridhargopinath Please have a look.

[2019-07-22 08:07] FoxMarts commented on #99
Thank you for the answer, it helped me a lot.

[2019-07-22 08:07] #99 closed

[2019-07-25 14:17] #23 closed

[2019-08-10 21:03] #109 closed

[2019-08-15 19:49] #5 closed

[2019-08-15 19:50] #2 closed

[2019-08-15 19:50] #4 closed

[2019-08-15 19:50] #9 closed

[2019-08-16 02:45] metastableB opened #117 "Testing pytorch implementations."
Leaving this issue here to keep track of developments.

- Need to test every algorithm again with the runner suits.
- Re-run notebooks and push new updates whenever that makes sense.
- Test SRNN updates, with and without dropout.

[2019-08-16 20:48] pushkalkatara commented on #117
Hi, can I contribute to a subpart of the issue?

[2019-08-17 17:25] harsha-simhadri commented on #117
@pushkalkatara  Sure, would appreciate if you could test PR 118.

[2019-08-17 20:46] pushkalkatara opened #119 "IHT routine failing due to numpy call on torch tensor"
IHT routine fails in BonsaiTrainer due to use of np.copy() on Torch tensor.

[code]

[2019-08-18 01:22] pushkalkatara commented on #119
https://github.com/microsoft/EdgeML/pull/120

[2019-08-18 01:23] pushkalkatara commented on #117
Hi, I tested the PR #118 and made some small changes proposed here - https://github.com/microsoft/EdgeML/pull/120

[2019-08-18 19:41] adityakusupati commented on #119
@SachinG007 I though you tested all the example scripts. Can you please explain this?

[2019-08-21 10:22] adityakusupati opened #121 "Redundant fastTrainer?"
[fastTrainer](https://github.com/microsoft/EdgeML/blob/harsha/reorg/edgeml_pytorch/trainer/fastTrainer.py). and [fastcell_example](https://github.com/microsoft/EdgeML/blob/harsha/reorg/examples/pytorch/FastCells/fastcell_example.py) of the harsha/reorg branch seem to be out of date and need to be updated or removed.

@harsha-simhadri I think thes file needs to be removed once your fastmodel is rob

[2019-08-21 13:22] pushkalkatara opened #122 "process_google.py MemoryError"
The script [process_google.py](https://github.com/microsoft/EdgeML/blob/master/pytorch/examples/SRNN/process_google.py) reads all the .wav in a numpy array which might cause a memory error on many systems.
Either use of disk storage through `numpy.memmap` or storing array as `.HDF5` with `PyTables` or use of some library like Pandas might solve this issue.

[2019-08-21 13:23] pushkalkatara commented on #122
Error reproduction
[code]

[2019-08-21 20:20] harsha-simhadri commented on #121
@adityakusupati The first link looks broken

[2019-08-22 05:30] adityakusupati commented on #121
It was because of the reorg - https://github.com/microsoft/EdgeML/blob/harsha/reorg/pytorch/edgeml_pytorch/trainer/fastTrainer.py

[2019-08-22 11:04] harsha-simhadri commented on #121
@adityakusupati Can you test the fastmodel in PR 123, and see if you are happy. If everything you need is there, I will remove the fastTrainer and fastcell_example files.

[2019-08-22 11:22] adityakusupati commented on #121
@harsha-simhadri  thanks for the response. I will do the needful and @SachinG007  will assist me.
I think we need to change the names of the new files (both the trainer and example) for Fastcell just to be consistent.

[2019-08-22 13:08] pushkalkatara commented on #119
Solved and merged - #120 . Closing.

[2019-08-22 13:08] #119 closed

[2019-08-26 11:38] adityakusupati commented on #121
- [ ] Arg parse should contain at least: dataDir, cellType, inputDims, hiddenDims, numEpochs, batchSize, learningRate, wRank, uRank, wSparsity, uSparsity, gate and update non-linearities, decayStep, decayRate and outputFile. Please follow one of [this](https://github.com/microsoft/EdgeML/blob/master/pytorch/examples/FastCells/helpermethods.py#L80)or [this](https://github.com/microsoft/EdgeML/blob/

[2019-08-26 14:59] LucaCerina opened #126 "FastGRNN Arduino/C++ code"
Hello, I have a brief question about the results in the NIPS paper.

Did you use seeDot to generate the fastRNN/fastGRNN on Arduino, or is it something that you built from scratch and it is not yet available on the repo?

Thank you.

[2019-08-26 16:52] adityakusupati commented on #126
@LucaCerina the Arduino/C++ code is not available in the repo. However, the final quantized models can be obtained from the training scripts. The c++ code is typically a for loop with a couple of MatVec ops for RNNs. You could email @SachinG007 for the C++ codes used given they are not public yet.

[2019-08-27 12:08] LucaCerina commented on #126
Thank you so much, I will contact him

[2019-08-27 12:08] #126 closed

[2019-09-13 12:31] eirikvaa opened #129 "SeeDot: ProtoNN X86 generated code (32-bit) gives segmentation fault"
I'm working on using the X86 backend instead of the Arduino backend for the SeeDot compiler. **Edit**: Here I'm using ProtoNN. I'm able to generate C++ code, but I get a segmentation fault on the following line in `seedot_fixed.cpp`:

[code]

If I instead use 256, such that the line then becomes

[code]

then it works.

If we then assume that I have generated an executable called `main` and run th

[2019-09-16 10:18] eirikvaa opened #130 "SeeDot: Example Arduino code always predict label '9'"
When going through the Arduino/ProtoNN tutorial and running it on the device it seems to always predict label '9'.

[code]

Is this a sign of a correctly functioning example? Am I missing something?

[2019-09-17 14:19] sridhargopinath commented on #129
Hi @eirikvaa,

Thank you for your interest in SeeDot.

Could you please provide the exact command line used to generate code so that I can reproduce the error at my end? Also, did the errors occur after you modified `SeeDot.py` and `main.py`, or with the unmodified code?

Thanks,
Sridhar

[2019-09-17 14:25] sridhargopinath commented on #130
The documentation on using the Arduino sketch is present here:
https://github.com/microsoft/EdgeML/blob/master/Tools/SeeDot/seedot/arduino/config.h

I will highlight some of the things relevant to this issue. By default, the Arduino prediction code runs only on a single data point since the entire data set cannot fit on the device. This behavior is used to compute the total prediction time of the

[2019-09-17 14:41] eirikvaa commented on #130
Oh, of course, that makes total sense. Thank you very much :-) I'm closing the issue because of your good response.

[2019-09-17 14:43] eirikvaa commented on #129
For the ProtoNN implementation I have used exactly the same command line arguments as in the [tutorial](https://github.com/microsoft/EdgeML/tree/master/Tools/SeeDot) provided.

The error did indeed occur after I had modified `SeeDot.py` and `main.py`.

* [Diff](https://www.diffchecker.com/CMZ9fsle) of `main.py` vs `main86.py`
* [Diff](https://www.diffchecker.com/75pcUs9x) of `SeeDot.py` vs `SeeDot

[2019-09-18 11:48] eirikvaa commented on #130
I have modified `config.h` to run in accuracy mode by doing the following.

[code]

Is there something else I must do? Nothing is happening in the serial because of `syncWithMaster();` in the `accuracy` function.

If I send `fixed` as a message to the Serial port then it writes out `point`, but nothing is happening.

[2019-09-18 14:40] sridhargopinath commented on #130
In the accuracy mode, you need to send each data point to the device using serial communication. There is a master, typically a desktop machine, that has access to the data set and is responsible for sending each data point to the client, the Arduino device. The first step in the Arduino code is to sync with the master. After that, each data point is sent as a stream of bytes. The `getIntFeature`

[2019-09-18 14:44] sridhargopinath commented on #129
It is hard for me to go through the diff to figure out the error. I have another suggestion. After SeeDot explores multiple programs, it will generate x86 code for the testing set in a temporary directory and executes that to obtain the accuracy of the fixed-point code. You can find this code in `TEMPDIR/seedot_fixed.cpp`. You can modify this code accordingly.

[2019-09-18 14:47] eirikvaa commented on #129
I can understand that. Ok, I will try that and report back, thank you very much for helping me out.

[2019-09-18 14:47] eirikvaa commented on #130
Ok, that was the answer I was looking for – I will try to make it work.

[2019-09-18 19:02] eirikvaa commented on #129
Everything works! I think it just boils down to copying the wrong set of files into the output directory. Thank you very much for your help.

[2019-09-18 19:02] #129 closed

[2019-09-18 19:02] #130 closed

[2019-10-01 13:42] maxsu opened #134 "How do we train new gestures for GesturePod?"
Please forgive me if this question is answered elsewhere. How would we generate new models for custom gestures?

[2019-10-01 23:10] ShishirPatil commented on #134
Hi Maxsu,

Please refer to the [modelTraining branch](https://github.com/microsoft/EdgeML/tree/modelTraining).
Note that this is still WIP.

Thanks,

[2019-10-03 05:13] maxsu commented on #134
Thanks for the response Shishir! I look forward to working with this system on the [M5StickC](https://m5stack.com/products/stick-c).

I am pleased to see a microcontroller scale AI includes not only a final model, but also the the means to train that model. Kudos to you and your team!

[2019-10-13 19:44] metastableB opened #138 "K-Median/Mean heuristic for ProtoNN missing in Pytorch"
- The median heuristic function [utils.medianHeuristic](https://github.com/microsoft/EdgeML/blob/master/tf/edgeml/utils.py#L12) is missing in the pytorch branch. Please copy it to `edgeml_pytorch.utils`.
- It is being called from [here](https://github.com/microsoft/EdgeML/blob/0b33f1d959b8312615fac9bc941a28a16ce2cf95/pytorch/examples/ProtoNN/helpermethods.py#L49) when you run the example. That is,

[2019-10-31 05:07] DmitryKhlus commented on #82
I have similar problem as it is described above.
To make it work in Keras, i did following changes:

In original `class FastGRNNCell(RNNCell)` i changed declaration and first line in function call() to following
[code]
Also I wrapped this class to Keras layer.

[code]

Than it start to work, but result is really bad.
It will be great if somebody can share implementation in Keras.

[2019-10-31 06:43] adityakusupati commented on #82
@praneet195 If I remeber correctly, we were able to debug this offline. Can you please share the code in that case?

[2019-10-31 06:57] DmitryKhlus commented on #82
Maybe my model also will be useful. To reproduce the issue, just use FastGRNNCell instead of FastGRNNCellWrapper.

[code]

[2019-11-06 08:04] ccu1tn opened #141 "Which is the compiler used in this project"
Dear everyone

I am looking for the compiler and models used in this project. Who can give me some ideas?
Many thanks

[2019-11-19 01:13] ccu1tn opened #145 "ModuleNotFoundError: No module named 'edgeml.trainer'"
Dear every one;

When I run this command python bonsai_example.py -dir usps10/. This source appears a this error
![image](https://user-images.githubusercontent.com/43333942/69107422-49fa1400-0aac-11ea-846e-6e483b53fbe2.png)
I'm looking way how to fix it like uses pip install module named 'edgeml.trainer'.  But It is not done.
so. What is the module I need to install for this errors?

Many thanks!

[2019-11-19 03:40] adityakusupati commented on #145
Hi,

I think you are trying to run the tensorflow version bonsai_example.py after installing pytorch version of the edgeml module. It would be great if you can attach the sequence of instructions you have followed for the same.

Aditya

[2019-11-19 13:51] ccu1tn commented on #145
Dear @adityakusupati
Thank you so much.. It worked.

[2019-11-19 20:04] #145 closed

[2019-11-19 20:06] harsha-simhadri commented on #141
The C++ version of ProtoNN and Bonsai have been tested with gcc, although other compilers could work.

The rest of the code is in pytorch and TensorFlow

[2019-11-19 20:06] #141 closed

[2019-12-19 01:20] Anjiang-Wei opened #148 "Xilinx HLS tool"
In the paper, there is a comparison between SeeDot-generated c code and Vivado HLS c code. SeeDot   can automatically generate hints(e.g. pragma HLS unroll, pipeline...) for HLS tools. How to use this feature myself? Can it generate c code which may contain"ap_fixed<>" for fixed-point float? Much appreciated!

[2019-12-27 00:55] adityakusupati commented on #148
@sridhargopinath

[2019-12-27 03:54] sridhargopinath commented on #148
@nikhilghanathe

[2019-12-30 19:44] nikhilghanathe commented on #148
Hi,
The HLS-backend hasn't been open-sourced yet. It will be available soon.

[2019-12-31 07:57] Anjiang-Wei commented on #148
Thanks a lot! Your research paper impressed me and inspired me greatly! Happy new year!

[2020-01-29 21:27] mousetrapbot01 opened #153 "Broken URL"
Hello, I noticed that your URL for the following:

1. Refer **here** to set up the required dependencies for the MKR1000 platform.

Is broken. Can you fix it? Thanks.

[2020-02-06 04:26] adityakusupati commented on #153
@ShishirPatil please look at this.

[2020-02-13 15:09] Giuseppe5 opened #154 "Installing the library"
Hi,

I was trying to install the library to try the KWS example in pytorch. However when executing "pip install .", the installation fails with the following error:
`error: could not create build/bdist.linux-x86_64/wheel/edgeml_pytorch  : No such file or directory
Error: Failed building wheel for fastgrnn-cuda`

If I try with "pip install -e .", I get no error but when trying to import fastgrnn_cu

[2020-02-23 12:20] robroe-tsi opened #155 "How to create new input from device sensors for prediction [Arduino Sketch]"
Hi,

**I used SeeDot to generate code (for a Bonsai model) for the Arduino device and now I want to change the sketch so that new data (read from sensors of the device) is prepared as input features and fed into the prediction method. My question is how to do this?**

It looks like the feature values for the predict() method need to be available in an array X. The sample feature vector that is par

[2020-02-28 06:38] shipleyxie opened #156 "Could you provide a Demo about wake word using FastGRNN?"
Now I want to use your source code in Keras in which there is a already setted wake up word recogniton system, it turns out I can't use your source code directly in Keras.
Should i rewrite your FastGRNN code in Keras?

[2020-02-28 14:37] theoxo opened #158 "AttributeError: 'FastGRNNCell' object has no attribute 'num_weight_matrices'"
Hi,

While running the PyTorch example for FastCells, I got the following error:

[code]

Making the `num_weight_matrices` field visible externally, e.g. by adding `self.num_weight_matrices = self._num_weight_matrices` in the \_\_init\_\_ of FastGRNNCell appears to resolve the issue.

[2020-02-28 22:14] adityakusupati commented on #158
@theoxo  thank you for pointing this out. We have fixed this in https://github.com/microsoft/EdgeML/pull/159

Please check and let me know.

[2020-02-28 22:18] adityakusupati commented on #154
I tried installing everything using pytorch 1.2.0 and it works fine. I am not sure what is going wrong. Can you check your CUDA version?

[2020-02-29 10:51] theoxo commented on #158
Oops, I should have checked the PRs first! #159 works, thank you.

[2020-02-29 11:51] adityakusupati commented on #158
Thanks. Let us close this issue then.

[2020-02-29 12:17] #158 closed

[2020-03-03 03:58] harsha-simhadri opened #160 "Fast(g)rnn, sha-rnn reference c code in cpp"

[2020-03-03 09:12] shipleyxie commented on #82
I have test your code, but the weights int FastGRNN have not been added to model.trainable_weights
It seems use FastGRNNCellWrapper directly in Keras， the params is not trainable.
Do you have this problem? @DmitryKhlus

[2020-03-03 09:27] shipleyxie commented on #82
The reason why result is that bad  maybe is the we have not add these weights in FastGRNN int Keras model and make it a trainable weights.
In my experiment ,I can't find weights in FastGRNN int model.trainable_weithts

[2020-04-12 14:50] binga opened #161 "Dead link to the Paper"
Hi team,

The link to the paper on the following link is broken, in the README.md of the repository - https://github.com/microsoft/EdgeML/blob/master/docs/publications/ICane-UIST19.pdf

Could you help us with this? Thanks!

[2020-04-14 20:54] ShishirPatil commented on #161
Here is a link for the paper: https://github.com/microsoft/EdgeML/blob/master/docs/publications/GesturePod-UIST19.pdf. Will update the readme. Thanks!

[2020-04-15 21:17] ShishirPatil commented on #156
@adityakusupati Do you have any inputs?

[2020-04-15 21:20] adityakusupati commented on #156
Keras should support TF backend, we are not providing any TF 2.x support so, if there is a compatibility issue, you should re-write FastGRNNCell and TF 2.x has support for custom RNN Cells.

[2020-04-16 09:31] #156 closed

[2020-04-26 00:58] nniranjhana opened #168 "How to get the accuracy of the bonsai_example.py in TF?"
After training the model, in the bonsai_example.py in TF, I want to separately print the accuracy of the model. How do I do that? Should I invoke the `accuracyGraph()` function before `sess.close()` in bonsai_example.py?

I understand that calling `bonsaiTrainer.train()` prints the accuracy after each epoch. But I want to display the accuracy alone without calling to retrain.

[2020-04-28 01:20] nniranjhana commented on #168
Could anyone help with this? In ProtoNN example, it is simple to call `ProtoNN.accuracy` to get it, but it doesn't seem to be straightforward with the Bonsai example.

[2020-04-28 21:04] nniranjhana commented on #95
Hi @FoxMarts @adityakusupati I tried to predict for a test set with this additional code in bonsai_example.py:

[code]

But I keep getting the error:
[code]
How can I get the accuracy individually?

[2020-04-28 21:50] adityakusupati commented on #95
sigmaI is not a scalar, but rather a tensor. Please see this to see how to use it https://github.com/microsoft/EdgeML/blob/master/tf/edgeml_tf/trainer/bonsaiTrainer.py#L389. You can't use = for placeholders.

[2020-04-29 01:00] nniranjhana commented on #95
Oh thanks! @adityakusupati So how do I pass it from here? I tried declaring a tf.float for sigma but it didn't work either. How do I get accuracy alone?

[2020-05-04 05:41] mehreenjabeen opened #175 "Seedot generated arduino sketch(Bonsai) for usps-10 dataset not producing any output when uploaded on arduino M0"
Hi,
I changed some parameters while training Bonsai on usps-10 dataset and obtained model of size < 2KB. The resulting model i gave input to seedot.py and obtained arduino sketch. This sketch when run on Arduino M0 is uploading perfectly but I cant see any output.  What could be the possible reason.
Baudrate I have set to 115200.

Sketch uses 17712 bytes (6%) of program storage space. Maximum is 2

[2020-05-04 05:49] mehreenjabeen opened #176 "Byte Quantization (Q) for model compression"
Hi,
Please clarify whether quantizeBonsaiModels.py in https://github.com/microsoft/EdgeML/tree/master/examples/tf/Bonsai is doing the same quantization as done by https://github.com/microsoft/EdgeML/tree/master/tools/SeeDot?

Thanks

[2020-05-04 21:56] adityakusupati commented on #176
Something similar, but not exactly. SeeDot uses the dataset to figure out the scale while quantizeBonsaiModels.py gives complete freedom to the user. Using either of them is fine, but SeeDot is preferred in case you don't want to look under the hood.

[2020-05-04 22:20] adityakusupati commented on #175
@sridhargopinath please look at this.

[2020-05-04 22:23] adityakusupati commented on #168
https://github.com/microsoft/EdgeML/blob/master/tf/edgeml_tf/trainer/fastTrainer.py#L480

There is an accuracy graph built for Bonsai where you can feed in the data and get the accuracy.  Please refer to the example in the above-mentioned line.

[2020-05-04 22:26] sridhargopinath commented on #175
HI @mehreenjabeen Mehreen,

Can you please give me more details to reproduce the error?

1. What are the hyperparameters used to train Bonsai on usps-10?
2. What command line did you use to invoke SeeDot?

With these details, I can try to reproduce the error on my end.

[2020-05-04 22:42] mehreenjabeen commented on #175
Hi,
I used the below command:
python3 bonsai_example.py -dir usps10/ -d 2 -p 5 -rW 0.001 -rZ 0.0001 -rV 0.001 -rT 0.001 -sZ 0.1 -sW 0.1 -sV 0.2 -sT 0.2 -e 100 -s 1

[2020-05-04 22:46] mehreenjabeen commented on #175
Hi,
I used the below commands:
   python3 bonsai_example.py -dir usps10/ -d 2 -p 5 -rW 0.001 -rZ 0.0001 -rV 0.001 -rT 0.001 -sZ 0.1 -sW 0.1 -sV 0.2 -sT 0.2 -e 100 -s 1

python3 SeeDot.py -a bonsai --train <path/to/train.npy> --test <path/to/test.npy> --model <path/to/Bonsai/model>

[2020-05-05 03:10] adityakusupati commented on #95
This is no tf 2.xx, so you need to run session.run something like this https://github.com/microsoft/EdgeML/blob/master/tf/edgeml_tf/trainer/bonsaiTrainer.py#L462 - https://github.com/microsoft/EdgeML/blob/master/tf/edgeml_tf/trainer/bonsaiTrainer.py#L467

"score, X_ = bonsaiObj(X = Xtest, sigmaI = 1e9)" this will not work for Tf 1.xx as TF works on static graphs. EdgeML doesn't support to 2.x. But

[2020-05-05 14:59] sridhargopinath commented on #175
Hi Mehreen,

I tried your configuration on Arduino Uno instead of the M0 and it seems to work as expected for me. I was able to produce the following output on the serial monitor:
[code]

I guess it might be an issue with the device you are working on. But just to be sure, can you share the standard output of SeeDot? If the execution is successful, you will see the following output:
[code]
If SeeD

[2020-05-06 05:42] dileep3004 commented on #82
Hi ,

This is my Model Architecture . followed the above structure

cell1=LSTMLRCell(64, name="FastGRNNCell1")
cell2=LSTMLRCell(64, name="FastGRNNCell2")
cell3=LSTMLRCell(64, name="FastGRNNCell3")

embedding_vector_length = 64

model = Sequential()

model.add(Embedding(max_words+1, embedding_vector_length, input_length=max_len))
model.add(Reshape((embedding_vector_length, max_len,)))
model.add(LST

[2020-05-06 05:58] adityakusupati commented on #82
@dileep3004 , I have very little clue about the latest Keras versions and I do not have the setup to reproduce this. A simple thing to do is to check if the same error persists with other Cells like GRULRCell etc., The error seems weird and my Keras implementations are very old. May be @praneet195  or @shipleyxie can look at this as they seem to have figured out the keras stuff :).

@DmitryKhlus s

[2020-05-06 07:31] dileep3004 commented on #82
Hi @adityakusupati  for your reply.
i tried in changing LSTM to RNN
Here is the code.
Getting a new error regarding scope here is the error trace
[code]
_---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-93-d0a53563367d> in <module>
      5 model.add(Embedding(max_words+1, embedding

[2020-05-06 07:51] adityakusupati commented on #82
You need to change the cells as well. I don't know what RNN(cell) or LSTM(cell) does in keras. At least in the current code, it seems like you are creating an LSTMLRCell and passing it to RNN().

Maybe pointing me to what RNN() or LSTM() do, might help. But when I asked to changed the cells, it is about changing cell1, cell2, cell3.

Also, please remember we haven't written this code with TF 2.x i

[2020-05-06 08:49] dileep3004 commented on #82
Okk .
I will debug it.

Can you point me to some resources to include FastCells in  Keras Models.

[2020-05-06 09:17] adityakusupati commented on #82
This thread contains some information. FastCells are exactly like GRUCell or LSTMCell of native Tensorflow. The incorporation of FastCells follows almost the same path as the other two.

Sorry, that I couldn't be of more help. You can always use TF 1.x and use the fastcell_example as a starting point and then use tf.MultiCellRNN (not sure about syntax). to get multiple layers of FastCells.

[2020-05-12 18:15] mehreenjabeen commented on #176
Thanks for explaining.

[2020-05-12 18:15] #176 closed

[2020-05-12 18:25] mehreenjabeen commented on #175
Hi Sridhar,

Apologies for replying late.
I got the same output as yours for SeeDot. The issue seems with the M0(couldn't run basic sketches on it too). I converted the generated arduino sketch to cpp code and it ran perfectly on desktop.

Thanks,

[2020-05-12 18:25] #175 closed

[2020-05-19 09:16] BrianEubanks opened #178 "SeeDot: Arduino Accuracy or Prediction Mode & Documentation"
Is there any documentation on using the SeeDot generated Arduino sketch? The [README](https://github.com/microsoft/EdgeML/blob/master/tools/SeeDot/seedot/arduino/README.md) is empty.

I'm having issues specifically using Accuracy mode so I can test a whole data set and not be limited to the one preset data point in Prediction mode.

I trained a Bonsai model using USPS10 data and then created the A

[2020-05-21 03:13] adityakusupati commented on #178
@sridhargopinath can you look at this.

[2020-05-21 17:17] AbdelilahTAHIRI opened #179 "accuracyGraph output"
Hello,

I am using Bonsai model from tf package.

I am looking for model tuning using Bayesian optimization. To do so I need the accuracy of the model and its size.

How can I get the accuracy from the model after one training. I tried the accuracyGraph() function but it returns a tensor object. Here is the code and the result:

[code]

I was expecting to have the Final Test Accuracy as an output.

[2020-05-21 17:52] mousetrapbot01 opened #180 "Training New Gestures on the GesturePod"
Hello, I am trying to train new gestures for the GesturePod on the particle photon, a arduino-like mcu. I have some questions regarding training.

Do you guys have the raw data used to train the model data.h on the github repository?

What is the point of setting the toggle in the training pipeline to 0? Can the parts where the toggle is 0 not be discarded?

Also, the positive/negative examples us

[2020-05-21 23:46] ShishirPatil commented on #180
The GDPR compliant data set has been released, and can be accessed here - https://www.microsoft.com/en-us/research/uploads/prod/2018/05/dataTR_v1.tar.gz

Think of toggle as a coarse label that can then be used to finely label the data. The coarse label is collected during data-collection, and the fine labeling is done post-data-collection using the scripts for labeling. For example, the toggle can

[2020-05-22 13:14] AbdelilahTAHIRI opened #181 "Load a saved model"
Hi,

So as to evaluate a saved Bonsai model on the test set. I am using loadModel(currDir) which returns a dicts with all parameters and hyper-parameters.

My question is how can we feed all those learnt parameters (W, Z, V, and T) to a BonsaiTrainer?

Thanks for help

[2020-05-22 16:11] mousetrapbot01 commented on #180
Thank you for your swift reply.

In the data that in the link, there is no column for the toggle field. Does that mean that the toggle column was erased in the process?

Also, are the files that you provided supposed to be added directly to the generateFeatures.py file to generate the train.csv and test.csv?

In the edgml protoNN training algorithm, I went to examples/tf/protonn and used the geren

[2020-05-22 23:27] adityakusupati commented on #179
Hi,

This is not built for Tf 2.x, so it is a static graph. calling accuracy = self.accuracyGraph() will just set up the graph.

You need to run the graph to evaluate it with the appropriate data https://github.com/microsoft/EdgeML/blob/master/tf/edgeml_tf/trainer/bonsaiTrainer.py#L400. ALso, the accuracy graph is built already in the bonsaiTrainer. So all you need to do is sess.run([bonsaiTrainer

[2020-05-22 23:32] adityakusupati commented on #181
Once you the dictionary, you can use it to init the tensors in https://github.com/microsoft/EdgeML/blob/master/tf/edgeml_tf/graph/bonsai.py.

loadModel is part of bonsaiTrainer, so all you need to do is use those params and load them into bonsaiObj which can be done in multiple ways.

Or you can store a .ckpt file using tf;s internal model saver and load it back.

[2020-05-23 01:55] ShishirPatil commented on #180
Yes. Since we anyway have provided the precise labels, there is no value from the (less-precise) toggle.

Yes!

Yes, sounds about right.

I don't see why this should be a problem. Let me know how it goes. I can take a look at it, if you run into issues.

[2020-05-23 02:00] ShishirPatil commented on #155
@sridhargopinath Please look into this.

[2020-05-23 02:00] #154 closed

[2020-05-26 13:30] AbdelilahTAHIRI commented on #181
Many thanks for the feedback.

I didn't pay attention for the default attributes of the bonsaiObj class (Z, W, V and T).

Here is the snippet of my code. It worked well.

[code]

[2020-05-26 13:30] #181 closed

[2020-05-26 13:32] AbdelilahTAHIRI commented on #179
Looks working.

Many thanks

[2020-05-26 13:32] #179 closed

[2020-05-27 04:54] adityakusupati commented on #181
Great!

[2020-05-27 08:42] AbdelilahTAHIRI opened #182 "SeeDot Compiler Errors:"
Hi!

When running the SeeDot.py script to generate an arduino sketch, I got a lot of such errors:
[code]
It seems that the generated code  perform calls tor library inline functions (`SparseMatMul(), MAtSub()` and so on) with wrong positioned arguments.

Can anyone help with this please

[2020-05-29 01:07] yunishi3 commented on #82
I just modified to FastGRNN/FastRNN cell for Keras implementation from original code.
[https://github.com/yunishi3/FastGRNN-for-Keras](https://github.com/yunishi3/FastGRNN-for-Keras)

[2020-05-29 10:07] adityakusupati commented on #82
@yunishi3 thanks a ton. I will go through the implementation just to be safe.

I think your implementation doesn't support training to induce sparsity. Can you please add that to readme as well. The functional implementation of the cells is exactly the tf code, so nothing to worry there :)

@harsha-simhadri do we want to have keras cells in EdgeML? If so this can be a starting point.

[2020-05-29 10:24] adityakusupati commented on #182
@sridhargopinath can you please take a look?

[2020-05-29 14:01] yunishi3 commented on #82
@adityakusupati Thank you for checking my repository. I just added the note in terms of sparsity inducing in the README.md.

As far as stacking of multiple of these cells, following code worked in the fastcell_example_keras.ipynb.
[code]

[2020-05-29 15:45] adityakusupati commented on #82
Thanks @yunishi3 . This is very helpful.

[2020-05-29 18:22] mousetrapbot01 commented on #180
Thank you for the quick reply.

I have some problems regarding the data that you provided. There, the columns do not match what the python script 'generateFeatures.py' suggests - 'mlabel' instead of the 'label' column. Were there updates to the code that require some changes to the data that is posted? Also the script seemed to need a format without the _labelled at the end. Is there a way to acce

[2020-05-29 18:50] sridhargopinath commented on #182
@aayan636

[2020-05-29 18:50] sridhargopinath commented on #178
@aayan636

[2020-05-29 18:50] sridhargopinath commented on #155
@aayan636

[2020-06-01 11:18] aayan636 commented on #182
@AbdelilahTAHIRI Please share the input code you used which generated this error.

[2020-06-02 07:22] AbdelilahTAHIRI commented on #182
I am training the bonsai on a custom dataset but not the ups10 set.
@aayan636 here is the command line invoked
`
python3.5 SeeDot.py -a bonsai --train  ../../examples/tf/Bonsai/DriveStyleData/Data/one_based_svm/train.txt --test ../../examples/tf/Bonsai/DriveStyleData/Data/one_based_svm/test.txt  --model ../../examples/tf/Bonsai/DriveStyleData/Data/one_based_svm/BonsaiResults/10_59_50_26_5/Params/

[2020-06-12 22:17] marjanemd opened #184 "End to end quantization process for FastGRNN"
Hello,

I am applying the **FastGRNN** model on **Google-12 Dataset** and I am getting the same accuracy mentioned in the paper for floating values **with Sparsity and low rank matrices**. I have also quentized the weights and biases using the **"quantizeFastModels.py"**. I am trying to apply the quantized weights on my model, and I have some questions:

1. In the paper, in Byte Quantization part

[2020-06-15 14:33] AbdelilahTAHIRI opened #185 "SeeDot Compiler issue"
Hello,

While trying to generate the arduino sketch for ProtoNN trained on ups10 dataset as explained in the given example here:  https://github.com/microsoft/EdgeML/blob/f04237c664eea1e821733928101c34d3730573c3/tools/SeeDot/README.md

The results of` python SeeDot.py command` are:
- These files are generated as expected:  `arduino.ino`, `library.h`, `config.h,` `predict.h `and `model.h`
- The pre

[2020-06-22 01:19] adityakusupati commented on #184
@marjanemd I just got to this as I didn't get any notification about this issue. Sorry for the delay.

1) Yes, the quantization is with a simple scaling factor and it works that way because we expect the users to train with the piecewise linear approximation of activations like quantTanh and quantSigm already supported in our code. The models are obtained from this same .py file and need to be han

[2020-06-22 07:24] adityakusupati commented on #185
@aayan636

[2020-06-22 08:20] AbdelilahTAHIRI commented on #185
Finally the issue disappear just by switching from Python3.5 to Python3.6.

[2020-06-22 08:20] #185 closed

[2020-06-22 18:05] marjanemd commented on #184
Thanks @adityakusupati for your response, and email.

For part 1, I tried to train my network with quantTanh and quantSigm, but it did not learn anything. Are there any specific steps to take before using these 2 activations?

For part 2, does that mean there is no way to create an end to end quantized model in python?

[2020-06-22 18:09] adityakusupati commented on #184
1) That is weird. It should work as well as the default activations.
2) You can write similar inference code in python, it will be a couple of 10s of lines, similar to pytorch forward pass.

[2020-06-26 21:47] adityakusupati commented on #184
@marjanemd  can we close this issue if your doubts have been clarified?

[2020-06-26 22:07] marjanemd commented on #184
yes, Thanks for your great help!

[2020-06-30 15:07] #184 closed

[2020-08-24 14:58] #134 closed

[2020-08-26 14:12] AmbiTyga commented on #176
I want to run pytorch Bonsai model on different memory size, how can i do that?

[2020-09-15 14:40] #161 closed

[2020-09-15 14:41] #153 closed

[2020-10-09 04:18] #160 closed

[2020-10-09 04:18] harsha-simhadri commented on #160
added

[2020-10-12 14:56] vermaaditya opened #210 "[ASK] : Bonsai model on Azure IoT Edge"
Hi Team,

We are trying to deploy the Bonsai Models on a Machine in the plant hosting Azure IOT Edge runtime.
Is there a reference documentation which can be leveraged? Or do you have a suggested deployment pattern to achieve the same on Azure IoT Edge in the form of Modules? Or if the Bonsai interface https://preview.bons.ai/workspaces directly provides an interface to deploy the model to Azure I

[2020-10-12 20:04] SachinG007 commented on #210
Hi Aditya,
Can you please check if you are referring to the correct Bonsai, this repository is for the ICML'17 publication Bonsai (https://github.com/microsoft/EdgeML/blob/master/docs/publications/Bonsai.pdf) , which is a strong non linear tree based classifier.

[2020-10-12 20:17] SachinG007 commented on #210
Hi @vermaaditya ,
Can you please check if you are referring to the correct Bonsai, this repository is for the ICML'17 publication Bonsai (https://github.com/microsoft/EdgeML/blob/master/docs/publications/Bonsai.pdf) , which is a strong non linear tree based classifier.

[2020-10-13 17:27] vermaaditya commented on #210
Looks like an incorrectly posted question, thanks for clearing the confusion. The question was meant to be for - https://github.com/BonsaiAI/bonsaiai.github.io

Closing the issue.

[2020-10-13 17:27] #210 closed

[2020-10-14 15:09] #117 closed

[2020-10-15 06:05] premkumar1303 opened #211 "Time series regression problem"
I have seen that data is flattened across timestep dimensions and label values are added in the first column of **train.npy** data and the **numClasses** is 10 for usps10 data which actually looks like a classification problem. I am trying to use the Fastcell algorithms for the time-series regression problem i.e. to forecast future values. In my case, I won't have the parameter like **numClasses**

[2020-10-15 08:52] SachinG007 commented on #211
Hi @premkumar1303 ,
Yes you can use FastCells for time series regression problems. numClasses parameter would be redundant in that case (in the usps example provided, numClasses is used for adding a FC layer over the last hidden state of FastCell).
A very easy way to build a regression with the code provided would be to modify the loss function [here](https://github.com/microsoft/EdgeML/blob/92f96

[2020-10-17 17:40] #180 closed

[2020-12-03 10:25] premkumar1303 commented on #211
Hello @SachinG007 ,
I have done as you told. It worked fine for my regression problem. The classifier function in FastTrainer class is also redundant in this case. After training, we will get the parameters in .npy format. How can I save the model in .h5 file format so that we can load it and get the inference by giving the input. Please help me out.
Thank you.

[2020-12-03 10:40] SachinG007 commented on #211
Hi @premkumar1303 ,
1) Can you please elaborate upon why do you need .h5 file format to save the model. If you want to run on a microcontroller, you can create a C header file with weights in static consts
2) This link for .h6 conversion might be helpful : https://discuss.pytorch.org/t/save-torch-tensors-as-hdf5/39556

[2020-12-03 10:52] premkumar1303 commented on #211
1. I want to compare the model size with tflite model which I have done for the same application.
2. Can you also please help me how to load these parameters as a model and get the inference for an input.

Thanks @SachinG007 .

[2020-12-03 11:01] premkumar1303 commented on #211
Please tell me, Is it correct to compare the model size calculated in **FastTrainer.py** with the tflite model file?

[2020-12-14 05:54] snakers4 opened #216 "Questions About RNN Pool"
Hi,

My name is Alexander, we are mostly [working](https://github.com/snakers4/silero-models) on high-quality fast Speech Recognition. We mostly use strided 1D Convolutions and Transformer modules. We mostly use progressive strides (i.e. 2 - 2 - 2) in our models. I have tried overall stride of 2 and 4 and 8 was better (on a limited compute budget ofc). But I have not looked into other configuratio

[2020-12-14 06:15] snakers4 commented on #216
Some of these are addressed by a unmerged [PR](https://github.com/microsoft/EdgeML/pull/215/files?file-filters%5B%5D=.py#diff-7f590a9d5d099bc186b312bff4a294bf7e7daef5aaa8c9078142e92b6d78d80cR91-R102), but nevertheless would be nice to hear from you

[2020-12-15 17:39] ShikharJ commented on #216
Hey @snakers4, thanks for your interest and mentioning your queries.

I can answer regarding (2) that the low-rank implementation was motivated from potential use in our exploratory analysis with this operator, which ultimately didn't make it into any of the experiments mentioned in the paper. Hence it's not currently used in any model scripts. But feel free to experiment with this implementation,

[2020-12-16 04:35] oindrilasaha commented on #216
Hi Alexander, I can answer the rest of your concerns
(0) Ideally we would like to incorporate FastGRNNCUDA into RNNPool because it ensures faster training/inference. However we are facing few issues with this and are currently working on them.
(1) We used .to(torch.device("cuda") in tensor initialization in RNNPool since we are using cuda for training and inference for the sole purpose of speed on

[2020-12-16 04:46] snakers4 commented on #216
@oindrilasaha @ShikharJ

I see, many thanks for these answers!
We have just read your papers and they also clarified these things a bit.
We will  definitely be trying the proposed 2-4 downscale schemes albeit adapted to our domain.

What I like is this ablation test (i.e. you can be lazy and just use plain vanilla modules):

![image](https://user-images.githubusercontent.com/12515440/102306121-897

[2020-12-16 07:30] SachinG007 commented on #216
@snakers4
Sure, it would be great to hear about your results in speech recognition using RNNPool

[2020-12-16 18:58] SachinG007 commented on #211
Hi @premkumar1303,
Sorry for the late response.
It might not be correct to compare the model size calculated in FastTrainer.py with tflite model file. FastTrainer.py file outputs the model size based on the parameters as floating-point (32 bits), whereas tflite does optimizations to the tf model like converting them to half-precision (16 bits) or 8-bit integers. Read more about tflite optimization

[2020-12-16 19:02] #168 closed

[2020-12-16 19:03] #82 closed

[2020-12-17 15:55] musaosman78 opened #219 "i want to use Bosani with anaconda spyder"
hi,
i have a problem when i am trying to use the Bosani module in my spyder

  File "<ipython-input-2-34ffe291a199>", line 1, in <module>
    import helpermethods

ModuleNotFoundError: No module named 'helpermethods'
also if i want this model in my own dataset how can i use
thanks in advance

[2020-12-18 20:20] SachinG007 commented on #219
Hi @musaosman78,
1) helpermethods.py is in the same location as bonsai_example.py here: https://github.com/microsoft/EdgeML/tree/master/examples/pytorch/Bonsai
Can you please give more setup details so that I can help you?

2) `bonsai_example.py` assumes that data is in a specific format.  It is
assumed that train and test data is contained in two files, `train.npy` and
`test.npy`. Each containing

[2020-12-19 08:03] musaosman78 commented on #219
...: np.random.seed(42)

#Loading and Pre-processing dataset for Bonsai
dataDir = "usps10/"
(dataDimension, numClasses, Xtrain, Ytrain, Xtest, Ytest, mean, std) = helpermethods.preProcessData(dataDir, isRegression=False)
print("Feature Dimension: ", dataDimension)
print("Num classes: ", numClasses)
Feature Dimension:  19
Num classes:  8
my label is binary classification why i get Num classes:  8
h

[2020-12-19 11:57] musaosman78 commented on #219
how to solve this error
my dataset is binary dataset
  lab_ = np.zeros((Xtrain.shape[0], numClasses))
MemoryError

[2020-12-19 15:41] musaosman78 commented on #219
Thanks SachinG007 , another question how to plot the accuracy and the loss function

[2020-12-21 07:50] SachinG007 commented on #219
Hi @musaosman78,
The line [here](https://github.com/microsoft/EdgeML/blob/5f0b6e86791018645f37e44c9c638b0e642b0ab9/pytorch/edgeml_pytorch/trainer/bonsaiTrainer.py#L356) gives you the training loss and training accuracy after every epoch. You can dump these values in a list and plot them later. You can also use [tensorboardX ](https://github.com/lanpa/tensorboardX) for monitoring the same values wh

[2020-12-22 11:48] musaosman78 opened #223 "Bonsai model, classification report, and confusion matrix"
Hi,
how can i get the classification report and the confusion matrix for bonsai model I wish any one help me with this issue

[2020-12-22 12:12] SachinG007 commented on #223
Hi @musaosman78,
We will be more than happy to help you with any issue.
Classification report and confusion matrix for the bonsai model can be calculated in exactly the same way as it is done for any other classification model. The accuracy function [here](https://github.com/microsoft/EdgeML/blob/5f0b6e86791018645f37e44c9c638b0e642b0ab9/pytorch/edgeml_pytorch/trainer/bonsaiTrainer.py#L91) gives yo

[2020-12-22 12:21] musaosman78 commented on #223
sorry for my questions, but is it same for tensorflow (tf)

[2020-12-22 12:25] SachinG007 commented on #223
Hi @musaosman78,
I am not sure if I understood your doubt correctly, but the classification report and confusion matrix is independent of whether you are using tf or pytorch for training. You just need the class predictions and the corresponding labels, irrespective of the library used.

[2020-12-23 10:23] #219 closed

[2020-12-29 14:44] #223 closed

[2021-01-03 15:46] premkumar1303 commented on #211
Hi @SachinG007,
Thank you for the information and sorry for the late response. The information provided is helpful.
During the model size calculation in FastTrainer.py, sW < 0.5 is taken. If I consider the sparsity of 0.5 and above for some k rank, we will get the same model size. Why only sW < 0.5 is considered, does it has any significance?

[2021-01-03 18:52] SachinG007 commented on #211
Hi @premkumar1303,
It is because sparsity>0.5 doesn't lead to model compression. You need to store the positions of the nonzero values too. Hence better have no sparsity instead of s=0.6

[2021-01-04 02:06] premkumar1303 commented on #211
Ok thank you.

[2021-01-05 04:35] pankaja0285 opened #226 "Unable to download dataset"
- I cloned the repo
- In anaconda prompt installed all the required libraries in requirements.txt
- opened in pycharm on my desktop
- tried to run download_mscoco.sh with edit configurations - set to folder for e.g. "coco-dataset" and click run, it just opens up the cmd prompt very quickly and closes up. The download doesn't happen.

What am I doing wrong? Please advice.
<img width="774" alt="data

[2021-01-06 19:50] SachinG007 commented on #226
@oindrilasaha

[2021-01-08 04:56] oindrilasaha commented on #226
Hi, can you please ensure that you have set the script as executable?

[2021-01-10 15:41] premkumar1303 commented on #211
Hello @SachinG007,
Is there any way to deploy machine learning models on a raspberry pi other than using tflite. If yes can you please provide some references.
And, how can I get inference by giving inputs using the weights saved from the trained FastRNN model?

Thank you.

[2021-01-12 03:33] WUSHUANGPPP opened #227 "MAdds mismatch problem"
I am very interesting in this excellent work:RNNPool Effificient Non-linear Pooling for RAM Constrained Inference.
However,I met some problems when I reproduce the MAdds of resnet18 on the following chart：
![image](https://user-images.githubusercontent.com/55127452/104265898-8dda8480-54c9-11eb-8b82-41d04e8a89f0.png)
It‘s 0.95G when the layer1.layer2 and maxpooling are replaced by rnnpooling layer.

[2021-01-12 05:52] ShikharJ commented on #227
@oindrilasaha

[2021-01-12 09:42] oindrilasaha commented on #227
Hi, In ResNet18-RNNPool specified in the table you attached, we are replacing layers after the first convolution - namely the first maxpool layer and the 4 residual blocks after that. So the input to RNNPool is 112x112x64 and output is 28x28x128, therefore FLOPs being ~100MFLOPs. The ResNet layers replaced constitute ~900MFLOPs.

[2021-01-12 11:49] WUSHUANGPPP commented on #227
Thanks for your reply,oindrilasaha and ShikharJ!
I  replaced the layers you mentioned,maxpooling,4 residual blocks.The input size keep same.But I got the FLOPS results 334MFLOPs of RNNPooling layer all the same.I just sum up all the operations in FastGRNNCell forward function,just like the snapshot above. Did I do something wrong?@oindrilasaha

[2021-01-13 09:44] oindrilasaha commented on #227
Hi, the input to the RNNPoolLayer is 112x112x64. Also, WX calculation of RNN1 we do as input_height x input_width x input_channels x hidden_dimension reusing computations in future patches. Can you also tell me what are the hidden dimensions of RNN1 and RNN2 that you assume in your above approach?

[2021-01-13 13:52] WUSHUANGPPP commented on #227
![image](https://user-images.githubusercontent.com/55127452/104460784-7d213000-55e9-11eb-8bdd-557b36065e0e.png)
For sure,hidden dimensions of RNN1 & RNN2 are same,they are 32 in my practice.So the output dimensions being 4*32 = 128.My FLOPs calculation approach is different with yours,I guess this is the reason why MAdds mismatch...But I don't know specific reason. All the calculation operations h

[2021-01-15 10:00] WUSHUANGPPP commented on #227
@oindrilasaha
Hi,Saha.I‘m still confuse about how you get 100MFLOPs.The lowest-level code is FastGRNNCell,all the Multiply-Adds happen in FastGRNNCell.The calculation formula —— input_height x input_width x input_channels x hidden_dimension which not consider the recurrent loops and stride repetitive calculation.Could you please tell me how you calculate 100MFLOPs specifically?

[2021-01-19 14:02] oindrilasaha commented on #227
Hi, I tried your counting code and I see the difference. Like I said, currently as the code is written, the WX computations of the first RNN are being repeated i.e. for column and row pass we need the same WX values but currently the code is calculating them twice. Also, since the patches overlap(by 4), the overlapping 4x8 pixels need not be calculated again but they are being recalculated in the

[2021-01-19 17:01] azfar001 opened #228 "Unable to run code"
Hi I am a newbie I need to implement this paper for my machine learning course can anybody guide me step wise how to run this paper's code to just show results ?

[2021-01-19 17:49] #228 closed

[2021-01-25 10:55] WUSHUANGPPP commented on #227
Okey , thank you for your explanation！

[2021-01-25 10:55] #227 closed

[2021-02-16 08:45] premkumar1303 opened #229 "Build Failed!!"
Hi,
I have trained ProtoNN model on usps10 as given in the steps. Then when I am trying to run SeeDot.py, I am getting the message Build.. FAILED!!. I have gone through the predicor.py where at the line process = subprocess.call(args, stdout = file) is returning 1. What could be the reason and please help me with the solution.

Thank you.

[2021-02-16 09:06] ShikharJ commented on #229
@premkumar1303 Can you post the full output please?

[2021-02-16 09:14] premkumar1303 commented on #229
![Capture](https://user-images.githubusercontent.com/65171882/108042092-61380080-7065-11eb-850f-d6fb9c17e5b8.JPG)

[2021-02-16 09:37] ShikharJ commented on #229
@premkumar1303 Can you also post your gcc version please?

[2021-02-16 09:41] premkumar1303 commented on #229
![1111](https://user-images.githubusercontent.com/65171882/108045207-3059ca80-7069-11eb-957b-21d8fa532c47.JPG)

[2021-02-16 10:32] ShikharJ commented on #229
@premkumar1303 Are you directly building from terminal? My hunch is that this is a path issue on your machine.

[2021-02-16 10:39] premkumar1303 commented on #229
@ShikharJ  Yes, I am directly building from the terminal. Is there any other way? I have added the GCC and MSBuild paths to environment variables. My doubt is that does this has any dependency on Microsoft visual studio?

[2021-02-16 10:46] ShikharJ commented on #229
@aayan636 Would be able to get a better hang of this. We've tried running the same command on our machine, and we're unable to reproduce this issue. So most likely it is a machine specific issue.

[2021-02-16 12:31] krantikiran68 commented on #229
@premkumar1303 Could you please try running
'''
mkdir -p temp
 python SeeDot.py -a protonn --train ../../examples/tf/ProtoNN/usps10/train.npy --test ../../examples/tf/ProtoNN/usps10/test.npy --model ../../examples/tf/ProtoNN/usps10/output -o arduino --tempdir ./temp/
cd temp/
'''
This will create the intermediate files in the temp directory and take you there.
Now you can manually try building the

[2021-02-16 13:30] premkumar1303 commented on #229
![1](https://user-images.githubusercontent.com/65171882/108066691-ac620b80-7085-11eb-84ec-778c283496ee.JPG)

These are the list of files I am getting in the temp folder.

[code]

Above one is the error which I am getting when building seedot_fixed.exe. I am a beginner at building files. Please correct me if I am wrong and provide any link which describes building files manually.

![2](https://user

[2021-02-16 14:10] krantikiran68 commented on #229
The compilation has to be done for the files in the folder together. You can refer to the `Makefile` in the folder for reference.
The `Predictor.vcxproj` would allow for the building of the entire folder like the Makefile. For that you may need to create a Visual Studio project as shown [here](https://docs.microsoft.com/en-us/cpp/build/working-with-project-properties?view=msvc-160).

[2021-02-16 14:14] krantikiran68 commented on #229
A simpler way to try out SeeDot is by installing [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) with [VS Code](https://code.visualstudio.com/download) and using WSL to run SeeDot.

[2021-02-16 14:20] premkumar1303 commented on #229
I will try it out and get back to you if I still face any issues.  Thank you for the information @krantikiran68, @ShikharJ.

[2021-02-23 10:37] ShikharJ commented on #229
@premkumar1303 I'm closing this issue for now. We can reopen this later if you are still facing issues.

[2021-02-23 10:37] #229 closed

[2021-02-23 15:17] #226 closed

[2021-02-23 15:18] #211 closed

[2021-02-23 15:19] #182 closed

[2021-03-08 07:22] premkumar1303 commented on #229
Hello,
1. SeeDot is written for bonsai and protonn algorithms. Can I use the files for FastGRNN/FastRNN algorithms by doing some modifications? If yes, can you please give me an idea of what all the things to change?
2. In the [FastGRNN](https://github.com/microsoft/EdgeML/blob/master/docs/publications/FastGRNN.pdf) paper, prediction times on raspberry pi for different algorithms and datasets were

[2021-03-08 10:51] ablanda opened #230 "USE_DROPOUT = True"
Hi everyone,
I'm trying to set USE_DROPOUT = True, but I get this error:
InvalidArgumentError: You must feed a value for placeholder tensor 'EMI/FastGRNN/keep-prob' with dtype float
	 [[{{node EMI/FastGRNN/keep-prob}}]]

I have run just your TensorFlow example, file 01_emi_fastgrnn_example.ipynb.

Could you help me, please?

[2021-03-08 11:10] ShikharJ commented on #230
@metastableb

[2021-03-11 11:52] premkumar1303 opened #231 "FastGRNN"
Hello,

1. SeeDot is written for bonsai and protonn algorithms. Can I use the files for FastGRNN/FastRNN algorithms by doing some modifications? If yes, can you please give me an idea of what all the things to change?
2. In the FastGRNN paper, prediction times on raspberry pi for different algorithms and datasets were given. How can I deploy and run FastGRNN algorithm on raspberry pi to make the p

[2021-03-11 12:00] ShikharJ commented on #231
@aayan636 Can you please take a look at this?

[2021-03-11 17:12] aayan636 commented on #231
@premkumar1303 SeeDot can support FastGRNN based algorithms but that is currently under development. If you wish, you can check out the SeeDOT-Face-Detection branch to try it out. A sample code for fastgrnn would be available here: https://github.com/microsoft/EdgeML/blob/SeeDOT-Face-Detection/tools/SeeDot/seedot/compiler/input/fastgrnn.sd
Take care to update the dimensions and ranges of the input

[2021-03-11 18:01] metastableB commented on #230
Hi @ablanda, please post the stack trace of your error so that I can help you better. With the information I have, the error you seem to be having is from this [line](https://github.com/microsoft/EdgeML/blob/c7349dd67ede4e49d58460c46d3957b7879c299e/tf/edgeml_tf/graph/rnn.py#L1990)

[code]

So `EMIFastGRNN` does initialize the `keep_prob` with a placeholder as desired by tensorflow as long as `self

[2021-03-11 19:20] adityakusupati commented on #231
@premkumar1303, I don't think I used any special wrapper for Raspberry Pi. Any normal C code with proper libraries works on Rpi. IIRC, we used to take the same code and change headers for arm devices and raspberry pi.

I am trying to find the files I used, but again we haven't done anything fancy except the header chnages.

[2021-03-12 09:22] premkumar1303 commented on #231
Ok. If you (@adityakusupati ) could find the files you used, please share.

Thank you all.

[2021-03-12 09:40] adityakusupati commented on #231
There should be some pointers or Rpi code in this. https://drive.google.com/file/d/1CfaoyHK-Ny9Bfgui_6r_hlSgZ0JV1BuN/view?usp=sharing

I think I was correct when I said, we didn't change anything except the headers.

[2021-03-12 10:56] premkumar1303 commented on #231
Thank you @adityakusupati. Yes these are the things which I was searching for. They are really helpful.

[2021-03-13 11:38] ShikharJ commented on #231
@premkumar1303 I'm closing this issue for now. Please feel free to reopen if you have further questions.

[2021-03-13 11:38] #231 closed

[2021-03-21 11:59] mehreenjabeen opened #232 "Exception: FastGRNNCUDA is supported only on GPU devices."
Getting error "Exception: FastGRNNCUDA is supported only on GPU devices." upon running kws-demo.py

[2021-03-21 13:31] ShikharJ commented on #232
@mehreenjabeen I'm assuming your system has a GPU setup? Can you provide the sample command you ran and the full output?

[2021-03-21 13:35] mehreenjabeen commented on #232
i ran this command: "python kws_demo.py --config_path <path_to_config.json> --model_path <path_to_model.pt> --mean_path <path_to_mean.npy> --std_path <path_to_std.npy>"
However, I had trained the model with architecture argument set as "-architecture FastGRNNCUDA". Now I am retraining with architecture parameter set to FastGRNN. Hope that resolves the issue

[2021-03-21 14:13] mehreenjabeen commented on #232
the above thing didnt work(i.e chaging architecture from FastGRNNCUDA to FastGRNN )
So command i ran "python3 kws-demo.py --config_path /home/mehreen/Work/EdgeML/EdgeML/config.json --model_path /home/mehreen/Work/EdgeML/EdgeML/examples/pytorch/FastCells/KWS-training/model/FastGRNN128KeywordSpotter.pt --mean_path $MODEL_DIR/mean.npy --std_path $MODEL_DIR/std.npy"

Output:
sigmoid tanh
Traceback (mo

[2021-03-21 14:31] ShikharJ commented on #232
@MJ10 Can you please take a look at this?

[2021-03-21 14:35] mehreenjabeen opened #233 "Inference Code to deploy KWS on bluecoin"
Hi,

I have generated the four files(model.h, model.S, featurizer.h and featurizer.S) for cortex M4 devices. However, I didnt find any inference code for deployment on STM bluecoin.  Can you please provide any pointer on it.

Thanks

[2021-03-29 16:45] ShikharJ commented on #232
@MJ10 Ping

[2021-03-30 04:02] mehreenjabeen commented on #232
I am closing this issue as I got to know what the issue was.  In _config.json_ the model architecture was set to FastGRNNCuda because of which it was throwing the error. I changed it to Fastgrnn and it worked!

[2021-03-30 04:02] #232 closed

[2021-04-01 18:26] ShikharJ commented on #233
@MJ10 Can you please take a look at this as well?

[2021-04-01 22:18] Yuchong-Geng opened #234 "Question about F1 score for Cifar-10"
Hi,

I have a question about using F1 score as metric for cifar-10 instead of AUC. When I use the exemplar parameters to train the model, the AUC can go up to around 76% but the F1 score stays around 20 for the entire epcohs.

Can you please provide some insights into this problem.

I appreciate your time and help.

[2021-04-02 17:14] ShikharJ commented on #233
@mehreenjabeen The STM Bluecoin driver code is Microsoft IP, and as such cannot be shared. Sorry for this. Closing the issue for now.

[2021-04-02 17:14] #233 closed

[2021-04-08 17:37] SachinG007 commented on #234
Hi,
This depends upon what you used as a threshold score for F1 score computation.
Can you please share more details, so that we can help you out?

Thanks

[2021-04-09 03:05] Yuchong-Geng commented on #234
Thanks for the response.

So I am trying to run the cifar experiment as follow:

`python3  main_cifar.py  --lamda 1  --radius 8 --lr 0.001 --gamma 1 --ascent_step_size 0.001 --batch_size 256 --epochs 100 --optim 0 --normal_class 0`

And instead of using the default "AUC" metric, I am using the F1 score that is defined in the DROCCTrainer.

[code]

[2021-04-12 11:12] SachinG007 commented on #234
Hi,
We kept this threshold for F1 score mainly for tabular experiment results (since previous work in that domain considers F1 score as a metric at a specific threshold). For images, we would suggest you look at AUC scores only since it does not consider just one specific threshold but gives an overall picture from various thresholds. Moreover, this is in line with the previous works on images.

T

[2021-04-13 12:55] ShikharJ commented on #230
Closing for inactivity.

[2021-04-13 12:55] #230 closed

[2021-04-16 11:52] mpierrau opened #235 "DROCC Learning Rate Sheduler"
Hi!

I am attempting to reproduce your results in the DROCC paper for my master's thesis and I was wondering if you could specify which learning rate scheduler was used during the experiments and the settings?

From the code it is not clear what type the scheduler is expected to be. It is not specified in the parameter description.
From the looks of it, it doesn't seem to be a regular torch.optim.

[2021-04-16 12:18] mpierrau commented on #235
I just found the repo of the author (Sachin Goyal [https://github.com/SachinG007/DROCC_icml2020/]),  in which the following snippet could be found in cifar/code/train_cifar_pgd.py:

[code]

which hints at the used learning rate scheduler for the CIFAR-10 experiment. The can easily be replaced by a `torch.lr_scheduler.StepLR` scheduler with `step_size=0.4*n_epochs` and `gamma=0.1`, where `n_epochs`

[2021-04-18 00:44] SachinG007 commented on #234
Hi @Yuchong-Geng ,

Can I close the issue now?

[2021-04-18 00:57] SachinG007 commented on #235
Hi @mpierrau ,
Thanks for your interest in our work.

1)The LR scheduler used has been specified in the examples file.
For example : for CIFAR : [here](https://github.com/microsoft/EdgeML/blob/c7349dd67ede4e49d58460c46d3957b7879c299e/examples/pytorch/DROCC/main_cifar.py#L45)

2) We havent used the standard torch StepLR just for the simple reason that we didnt want to consider the initial "pretrain

[2021-04-19 15:31] Yuchong-Geng commented on #234
Sure. Thanks for the help!

[2021-04-19 15:31] #234 closed

[2021-04-25 19:50] #235 closed

[2021-05-04 10:43] mehreenjabeen opened #236 "Error while converting .onnx model to .pb format"
Hi,
I want to convert onnx model obtained from _https://github.com/microsoft/EdgeML/tree/master/examples/pytorch/FastCells/KWS-training_ to .pb format. I followed this tutorial https://thenewstack.io/tutorial-import-an-onnx-model-into-tensorflow-for-inference/ but got below error:
`onnx.onnx_cpp2py_export.checker.ValidationError: No Op registered for FastGRNN with domain_version of 9

==> Context:

[2021-05-04 10:45] ShikharJ commented on #236
@MJ10

[2021-05-04 19:32] MJ10 commented on #236
Hi @mehreenjabeen
The ONNX model just defines the model. It does not contain information on how to run it. That is implemented by the runtime used for the model (ONNXRuntime is one example).

The ONNX model you generate uses a custom operator for the FastGRNN layer. For the scenario described in our README, we use ELL to compile the model for running on device. This works since FastGRNN support wa

[2021-05-06 10:41] #236 closed

[2021-06-01 03:58] sunying2018uchi opened #237 "Question about Bonsai training"
Hi,

I am trying to experiment on the bonsai project but find something strange. I used the command `BonsaiTrain -F 256 -C 2 -nT 7291 -nE 2007 -f 0  ./usps2_2 ` where usps2_2 is the directory including the usps dataset (binary classification version which also mentioned in the paper). But I checked the trained params such as Z, I found the dimension is `10*257`.  As we know, the first column of li

[2021-06-01 06:52] adityakusupati commented on #237
Hi,

We add an additional dimension to the matrix to get the bias term in.
Concatenating 1 at the end of feature vector essentially adds bias even
with matmul.

Hope this helps

Aditya

On Mon, May 31, 2021, 8:58 PM sunying2018uchi ***@***.***>
wrote:

[2021-06-01 09:34] #237 closed

[2021-06-01 09:35] sunying2018uchi commented on #237
Got it! Thank you so much!

[2021-06-04 11:41] ShikharJ commented on #216
Closing because of inactivity.

[2021-06-04 11:41] #216 closed

[2021-07-19 10:00] IannoIITR opened #241 "KWS-demo throwing errors on running FastGRNNCUDA inference on google speech commands dataset"
Error message:-
`Exception in thread Thread-1:
Traceback (most recent call last):
  File "/anaconda/envs/spr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "kws-demo.py", line 151, in run
    logits = fastgrnn(torch.FloatTensor(features))
  File "/anaconda/envs/spr/lib/python3.6/site-packages/torch/nn/modules/module.py", line 532, in __call__
    result = self.for

[2021-07-19 10:07] ShikharJ commented on #241
@SachinG007 Can you please take a look?

[2021-11-25 06:50] mehreenjabeen opened #249 "Seedot"
Hi,

I want to generate inference code corresponding to an onnx model. Although  readme file in overview section says "SeeDot takes as input trained floating-point models", I cannot find any argument in the SeeDot-dev.py file which takes trained model as input.

Please help to resolve this.

[2021-11-25 07:17] ShikharJ commented on #249
@mehreenjabeen Hi, could you mention which model do you wish to generate the corresponding code for?

[2021-11-25 08:29] mehreenjabeen commented on #249
Hi shikhar,

I have two onnx models for keyword spotting task based on dnn and gru architecture

[2021-11-25 10:48] ShikharJ commented on #249
@mehreenjabeen SeeDot/Shiftry might not have the full support for these models, but you can always try. See [this](https://github.com/microsoft/EdgeML/blob/master/tools/SeeDot/README.md) for an example.

[2021-11-25 11:11] mehreenjabeen commented on #249
I am following  the same link you have shared, but my query is that there is no argument for feeding the trained onnx model to SeeDot-dev.py file.
usage: SeeDot-dev.py [-h] [-a] [-e] [-d] [-m] [-n] [-dt] [-t] [-s] [-sf] [-l] [-lsf] [-tdr] [-o]

[2021-11-25 14:26] ShikharJ commented on #249
Ah, sorry, please follow the instructions from [here](https://github.com/microsoft/EdgeML/tree/master/tools/SeeDot/seedot/compiler/ONNX). Please note that the generated `seedot_ast.txt` will be the input.sd file that you need. As for dumping the model weights, you can simply do an online search on how to dump weights from a trained ONNX model.

[2021-11-27 17:46] mehreenjabeen commented on #249
@ShikharJ
Upon running _compile.sh_ fromhttps://github.com/microsoft/EdgeML/blob/master/tools/SeeDot/seedot/compiler/ONNX/compile.sh, following error appears: `python: can't open file 'create_input.py': [Errno 2] No such file or directory`
 I ran the below command: `./compile.sh ./models/dnn.onnx`

[2021-11-30 14:19] ShikharJ commented on #249
@mehreenjabeen Sorry for the delayed response, it seems that the SeeDot converter is currently broken, and might need a substantial amount of work. We're planning a new release in February, but till then, I don't see this issue getting resolved.

[2022-01-18 20:22] affot opened #250 "How to predict a Test Sample?"
Hello,

I am just reviewing the examples for Bonsai and ProtoNN in TF and I'm wondering how to use the model after it has been trained. The Bonsai Class has a getPrediction() method but without any parameters? How can I hand over a new sample to get a prediction?
It would be great to get a feedback from your side.

Best Regards
affot

[2022-01-19 12:31] affot commented on #155
Hello @robroe-tsi

did you find any answer on your question?
Currently I am also struggling with the usage of the models that have been created.

Regards
affot

[2022-01-19 15:51] metastableB commented on #250
Hi @affot, to obtain the predictions you should first obtain a reference to the prediction operation by
[code]

Once you have this, use your text data in the input X placeholder and evaluate this operation to obtain the predictions:

[code]

[2022-01-19 19:23] affot commented on #250
Hello @metastableB

thanks a lot for your fast help here!! :-)
For protoNN it works. In the example I can handover for example the first 20 samples of the test set with:
`predictions = sess.run(op, feed_dict ={ X: x_test[0:20]})` and it returns me an array with 20 predicted classes.

With the BonsaiObject I still have a problem. When I do the same here I get an error:

"InvalidArgumentError: You m

[2022-01-19 20:32] metastableB commented on #250
You will need a reference to the `sigmaI` placeholder in the computation graph. You could try,

[code]

See the declaration of `sigmaI`  [here](https://github.com/microsoft/EdgeML/blob/ef9f8a77f096acbdeb941014791f8eda1c1bc35b/tf/edgeml_tf/trainer/bonsaiTrainer.py#L56).

Also for inference, you should set `sigmaI` to some large value ( `1e10` ) instead of 1.0.

[2022-01-20 07:11] affot commented on #250
Don Dennis, thanks for your fast help here!!

[2022-01-24 18:45] affot opened #251 "SeeDot-dev.py only working for fastgrnn"
Hello,

the SeeDot explanation is working for the Fastgrnn.
But when I transfer the same steps for Bonsai or ProtoNN, the workaround makes some problems.
For example:
`python SeeDot-dev.py -a bonsai -e fixed -d usps10 -n 1 -t arduino -m red_disagree -l info`

It starts with an Error for the assignment in line 227: acc = obj.testingAccuracy with the information, that the Main-Object has no "testing

[2022-01-24 18:55] ShikharJ commented on #251
@affot The code pertaining to `SeeDot` is slightly unorganised. I've encountered this error before as well, and most of the times, it is because of the datasets and the model files not being in the right directory. Can you just check if there is a `bonsai/usps10` directory in both the `models/` and `datasets/` folders? Ideally, for each algorithm, you should be structuring the `models/bonsai` and

[2022-01-24 18:58] affot commented on #251
Hello @ShikharJ
thanks for your fast reply.
Yes, I checked it several times, I created the same folder/file structures as in the fastgrnn example.

[2022-01-24 19:03] ShikharJ commented on #251
Hmm, in that case, could you look at `temp/Predictor/output/fixed/` and paste the outputs of `build.txt` and `exec.txt` please?

[2022-01-24 19:03] ShikharJ commented on #250
Closing this for now, since the query is answered.

[2022-01-24 19:14] affot commented on #251
I don't see no output folder in `temp/Predictor`. There is just an `input` folder?

[2022-01-24 20:24] ShikharJ commented on #251
Okay, I must apologize for leading you astray. It seems that the nomenclature that is being followed internally is `usps-multiclass` instead of `usps10`. Could you try changing `datasets/bonsai/usps10` to `datasets/bonsai/usps-multiclass` and `models/bonsai/usps10` to `models/bonsai/usps-multiclass` and change the command you're using to `python SeeDot-dev.py -a bonsai -e fixed -d usps-multiclass

[2022-01-25 07:41] affot commented on #251
I did it, but I get the same Error :-(

[code]

[2022-01-25 09:55] ShikharJ commented on #251
Could you share the `input.sd` inside the `model/bonsai/usps-multiclass`?

[2022-01-25 10:06] affot commented on #251
[code]

[2022-01-25 14:07] NoThinG-qh opened #252 "The model of DROCC seems missing"
Thank you for the contribution to one class classification. DROCC is an excellent algorithm, but it seems that only the trainer of DROCC was found in this code repository , I could not find the model of DROCC. Can the model be published?

[2022-01-26 16:16] ShikharJ commented on #252
@NoThinG-qh Thanks for your interest in DROCC. I think trained models have license conflicts with the repository, so we don't publish them. One can always use the trainer code for generating the models again.

[2022-01-26 16:23] ShikharJ commented on #251
@affot Sorry for the late reply. You're using the DSL code pertaining to `FastGRNN` for running the `Bonsai` code for `usps-multiclass`. The converter is currently broken, and we're trying to fix it in the coming month. You might wanna use the following script instead of your current `input.sd`:

[code]

Please note that the `model/bonsai/usps-multiclass` directory should contain `X.npy`, `Z.npy`

[2022-01-26 20:02] affot commented on #251
Hello @ShikharJ
one day delay... So no need to excuse!! :-)
I still have the problem...
What I did:
Copy&Paste the code in the `EdgeML/tools/SeeDot/model/bonsai/usps-multiclass/input.sd`
Copy&Paste all files from `EdgeML/examples/tf/Bonsai/usps10/TFBonsaiResults/20_15_05_24_01_22/SeeDot` (Mean, Sigma, Std, T,V,W,Z) in `EdgeML/tools/SeeDot/model/bonsai/usps-multiclass`

And then:
`python SeeDot-dev

[2022-01-27 09:18] SachinG007 commented on #252
@NoThinG-qh you can use the CLI commands here to generate trained models https://github.com/microsoft/EdgeML/tree/master/examples/pytorch/DROCC

[2022-01-27 17:21] ShikharJ commented on #251
@affot Sorry for the delay once more :) Nearly all of the debugging regarding SeeDot can be done by looking at `temp/Predictor/output` folders. Basically, the second command is correct, but somewhere during the execution of the compiled binary code for the `arduino` platform, some execution error is happening. Could you run the second command and paste the output of the mentioned folder, please?

[2022-01-27 17:23] ShikharJ commented on #252
Closing for now.

[2022-01-27 17:23] #252 closed

[2022-01-27 18:56] swapnilsayansaha commented on #251
I have similar issue. In my case, however, the dataset is a custom dataset which has been properly converted into .npy files. The input array to the fastgrnn model is 550*9.

[2022-01-27 19:07] ShikharJ commented on #251
@swapnilsayansaha The values in the square brackets are the floating-point ranges of the concerned tensors. So for example, if your `W.npy` has a minimum element of `0.1`, and a maximum element of `0.99`, then the input.sd should look like let `W = (x, y) in [0.1, 0.99] in`

`X` is the input array, and `XX` is just a reshape operation applied to `X` and stored in a separate array. I hope this help

[2022-01-27 19:23] swapnilsayansaha commented on #251
Thanks a lot. That really helped. I have a few more questions.

If X = (550,6), what should be XX be reshaped to?

I can provide some intuition. In the example of Seedot, we have:

[code]
This comes from the fact the USPS dataset input is a 256*1 array (assuming batch size of 1). The input dim was 16 and hidden dim was 32. The output is binary, which explains (1,2) in the output (?)

In my case: m

[2022-01-27 19:36] ShikharJ commented on #251
@swapnilsayansaha The hidden dimension has got nothing to the shape of X, it is the second dimension of `W` and `U` matrices that determines that. The reshape works in the following manner:

[code]
The first tuple in the reshape operation depicts the final shape of the reshape output (or simply, the shape of `XX`). The last tuple depicts the order in which the dimension of X should be processed. S

[2022-01-27 19:57] swapnilsayansaha commented on #251
Thanks a lot for your help. I had to force the compilation by manually inputting accuracy and it compiled. For some reason obj.testingAccuracy returns empty value.

[2022-01-27 20:02] affot commented on #251
When I cast `python SeeDot-dev.py -a bonsai -e fixed -t arduino -m red_disagree -n 1 -d usps-multiclass` the Error is
`========================================
Executing on bonsai fixed usps-multiclass arduino
========================================

Traceback (most recent call last):
  File "SeeDot-dev.py", line 270, in <module>
    obj.run()
  File "SeeDot-dev.py", line 164, in run
    self.run

[2022-01-27 20:18] swapnilsayansaha commented on #251
Can confirm I have the same error.

[2022-01-27 20:24] ShikharJ commented on #251
I see, `model_float.h` is used for storing the `.npy` weight files into C++ format. From the error, it seems that the dimensionality of the `.npy` files, and the description in the `input.sd` for the same does not match. Can you please check?

[2022-01-28 07:11] affot commented on #251
This is correct, the dimensions of the `.npy `Files and the entries in `input.sd` don't match.
When I load the files and print the .shape with `print("Z" , np.fromfile('Z.npy').shape)` I get:
[code]

`X.npy` isn't even existing.

If you want to understand what happened here, I just followed the example to train the bonsai algorithm, nothing has been changed on my side.

[2022-01-28 16:31] ShikharJ commented on #251
@affot Okay, this seems like a major issue then. I'll need time to look into it. Sorry for the inconvenience.

[2022-01-28 17:25] affot commented on #251
No Problem, thanks a lot for taking care!

[2022-01-28 18:17] swapnilsayansaha commented on #251
What I understood from trying to run anything apart from the USPS-10 tutorial given in the repo, even training the model for 1 epoch less (the USPS-10 fastgrnn model) causes Seedot compilation to fail (sometimes Seedot says X cannot be quantized properly, sometimes it says test accuracy object not found, sometimes it can't find quantization functions). I think a lot of things are internally hard-c

[2022-01-28 18:48] swapnilsayansaha opened #253 "How to get predictions from trained model for FastCells in Tensorflow"
For Bonsai and ProtoNN, we can convert the trained TF model to tflite and perform inference on new data. I was wondering if something similar exists for FastCells in TF, where we could load the pre-trained model parameters and perform inference (maybe not through TFLite but through TF directly).

P.S. I could've used Seedot to compile FastCells but right now it has some bugs that prevent its compi

[2022-01-29 12:47] ShikharJ commented on #253
@adityakusupati Can you please take a look?

[2022-01-29 21:49] adityakusupati commented on #253
Hi,

The same sort of inference should work for FastCells too however, this is
all in tf 1.0 which has limited support.

You can use see dot to automatically compile low level code files for
inference.

Hope this helps.

On Sat, Jan 29, 2022, 4:47 AM Shikhar Jaiswal ***@***.***>
wrote:

[2022-01-30 01:47] swapnilsayansaha commented on #253
Seedot has some issues converting models trained on custom dataset #251

Anyways I exposed the predictions from the training script:

In fastTrainer.py

[code]

in the init() function:
[code]

[2022-01-30 01:47] #253 closed

[2022-03-01 21:51] swapnilsayansaha opened #256 "Why Bonsai and ProtoNN does not return logits but only the argmax of predictions?"
Normally, for any Tensorflow Model:

[code]
returns the logits. However, Bonsai and ProtoNN is returning the argmax of the predictions after reconstructing the model from pretrained Bonsai. Example code:

[code]
[code]

This prevents ```tape.gradient()``` to be useable.

[2022-03-01 22:01] swapnilsayansaha commented on #256
Never mind I modified the bonsai layer to return logits.

[2022-03-01 22:01] #256 closed

[2022-06-21 15:11] aytek03 opened #263 "For Image Anomaly, custom dataset"
Hi  sir,

Your main_cifar.py code runs on cifar-dataset but I want to try custom dataset.

I create .pickle file (x_train etc.) but When I switch download=False, create  and build my own pickle train files then

       ( train_set = MyCIFAR10(root=self.root, train=False, download=False
                              transform=transform, target_transform=target_transform)   in process_cifar.py (line

[2022-06-21 15:18] aytek03 commented on #263
Hi  sir,

Your main_cifar.py code runs on cifar-dataset but I want to try custom dataset.

I create .pickle file (x_train etc.) but When I switch download=False, create  and build my own pickle train files then

       ( train_set = MyCIFAR10(root=self.root, train=False, download=False
                              transform=transform, target_transform=target_transform)   in process_cifar.py (line

[2022-06-21 19:17] SachinG007 commented on #263
Hi @aytek03 ,
If you have your own dataset (say x_train and y_train), maybe you will not even need to run process_cifar.py ? That code is just to overwrite the pytorch CIFAR loader to load normal and abnormal class accordingly.
I would suggest you can modify your pickle file's y_train to label them 0 (abnormal) and 1 (normal).

I would be more than happy to help you further, if you can provide mor

[2022-06-21 19:56] aytek03 commented on #263
How can I do not run process_cifar.py?

In main_cifar.py, we have this line:

dataset = CIFAR10_Dataset("data", args.normal_class).

[2022-06-21 20:36] SachinG007 commented on #263
What I meant was you can accordingly modify the dataloading part of the code based on your requirements.
For ex., if you are using your own custom data with images in a local folder, you can replace line 67 in process_cifar.py with https://pytorch.org/vision/main/generated/torchvision.datasets.ImageFolder.html

If you have a pickle file which loads the whole data, then I would suggest you to look

[2022-07-03 20:52] SachinG007 commented on #263
Hi @aytek03 ,
Can I consider this issue resolved ?

Thanks
Sachin

[2022-07-04 07:47] aytek03 commented on #263
Yes this issue is resolved. @SachinG007

If a some problem arises again, can I bother you?

Thanks.

[2022-07-04 07:47] #263 closed

[2022-07-04 11:05] SachinG007 commented on #263
Hi @aytek03
We will be more than happy to help you out
Thanks for taking interest in our work

-Sachin

[2022-08-04 05:45] abhishek-ghose opened #267 "Select protoypes without projecting"
Hi,

Thank you for making this library publicly available!
I have a question regarding ProtoNN: does the implementation allow for holding W fixed at the identity matrix? I want to only select prototypes - for comparing against techniques that cannot project.

Thanks!

[2022-08-30 09:39] microsoft-github-policy-service[bot] opened #269 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-22 13:21] jambo6 opened #272 "Why is the GRNN much slower than a GRU"
[code]

Timing (with proper cuda synchronisation) gives a loop time of 0.1s for the GRU and 0.35s for the GRNN. Am I doing something wrong, surely the GRNN should be at least on par with the GRU since it is less operations.

[2022-11-22 20:40] adityakusupati commented on #272
Hi,

Thanks for the timing numbers. IIRC, I don't think we optimized GRNN to the level of inbuilt GRU and that shows evidently here. The speedups are obvious when you use GRU and GRNN from our own naive implementations.

Aditya